<div  class="dialog_form_view">
    <div *ngIf='ready'>
        <form [formGroup]="newTopicForm">
            <div class="row no-gutters">
                <div class="col-md-12 col-xs-12">
                    <div class="center-block relative_label">
                        <label>{{'GENERAL.TITLE' | translate}}<span  class="required_field">*</span></label>
                        <input class="form-control" autoFocus formControlName="title" maxlength="120" />
                        <div *ngIf="newTopicFormErrors.title" class="alert alert-danger">
                            {{ newTopicFormErrors.title }}
                        </div>     
                    </div>
                          
                </div>
            </div>
            <div class="dialog_form_button_row" >                    
                <button class="dialog_form_button_row_first"  kendoButton type="button"  [disabled]="newTopicForm.invalid || newTopicFormSubmitted" (click)="onNewTopicFormSubmit()" [primary]="true">
                    <span *ngIf="newTopicFormSubmitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
                    <span style="padding: 0 3px">{{'GENERAL.CREATE' | translate}}</span>                    
                </button>                   
                <button  kendoButton type="button" (click)="closeDialog()">{{'GENERAL.CANCEL' | translate}}</button>                        
            </div>             
        </form>
    </div>
    <div *ngIf='!ready' style="text-align: center; min-height: 80px;">
        <img src="assets/images/board_loader2.gif" alt="mask" />
    </div>    
</div>