<mat-progress-bar [style.visibility]="loadingIndicator?'visible':'hidden'" [color]="'primary'" [mode]="'query'"></mat-progress-bar>
<kendo-grid
        #boardTopicGridInstance="kendoGrid"
        [selectable]="false"
        [data]="view | async"
        [loading]="view['loading']"
        [pageSize]="state.take"
          [skip]="state.skip"
          [sort]="state.sort"
          [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }"
          [pageable]="{
            pageSizes: take_list
          }"
          [scrollable]="'none'"
           (dataStateChange)="dataStateChange($event)">
           <kendo-grid-messages noRecords="{{'GENERAL.GRID_NO_RECORDS' | translate}}" pagerItemsPerPage="{{'GENERAL.GRID_PAGER_ITEMS_PER_PAGE' | translate}}" pagerOf="{{'GENERAL.GRID_PAGER_OF' | translate}}" pagerItems="{{'GENERAL.GRID_PAGER_ITEMS' | translate}}"></kendo-grid-messages>         
          <kendo-grid-column field="id" title="#" width="40"></kendo-grid-column>
          <kendo-grid-column field="title" title="{{'GENERAL.TITLE' | translate}}" width="150"></kendo-grid-column>
          <kendo-grid-column field="actions" width="80" title="" class="activity_button_cell" [sortable]="false">
                <ng-template class="action_button" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button (click)="removeBoardTopic(dataItem.id)" class="action_btn" color="warn"  mat-raised-button>
                        <i class="material-icons">close</i> {{'GENERAL.REMOVE' | translate}}
                    </button>
                </ng-template>
            </kendo-grid-column>            
</kendo-grid>