.message_box_mask {text-align: center; min-height: 50px;}
.message_box_item_text {font-size: 16px; padding:0 0 0 12px; display: inline-block;}
.message_box_item {position: relative; /*margin-bottom: 22px;*/ margin: 0 auto 22px auto; overflow: hidden;
padding: 12px 15px; background-color: #f5f5f5;
box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;}
.clickable_message_box_item .message_box_item_text {cursor: pointer;}
.clickable_message_box_item .message_box_item_text:hover {text-decoration: underline; }
.message_box_item_title {font-weight: bold;}
.message_box_item_excl_1 {border-right: 2px solid #5cb85c;}
