<div class="message_box_mask" *ngIf="!noteMessagelistLoaded">
  <img src="assets/images/messages_loader_.gif" alt="loading" />
</div>
<div *ngIf="noteMessagelistLoaded" class="message_box">
  <div *ngFor="let message of messages" [@anim] class="message_box_item message_box_item_excl_{{message.exclusive}}" [class.thumbtack_message_box_item]="message.thumbtack" [class.clickable_message_box_item]="message.prop_id">
      <div class="message_box_item_date float_right">
        <span class="todo-tasklist-date">
          <i class="k-icon k-i-calendar"></i> {{message.date}}
        </span>
      </div>
      <div class="clr"></div>
      <div class="message_box_item_title">  {{message.name}} </div>      
      <div class="message_box_item_text line-breaker" [innerHTML]="message.text"></div>
      <div *ngIf="message.model_url && message.url_title"><a [routerLink]="['/' + message.model_url + '/' + message.model_id]" >{{ message.url_title }}</a></div>
      <div class="message_action_buttons_list">
        <div class="message_action_button message_remove">
          <button (click)="removeMessage(message.id)" mat-mini-fab><i class="k-icon k-i-close"></i></button>        
        </div>      
        <div class="message_action_button message_thumbtack">
          <button (click)="thumbtackMessage(message.id)" mat-mini-fab><i class="k-icon k-i-pin"></i></button>        
        </div>        
      </div>
      <div *ngIf="message.loading" class="message_box_item_mask">
        <div class="message_box_item_mask_bg"></div>
        <div class="message_box_item_mask_img"><img src="assets/images/messages_loader.gif" alt="mask" height="44" /></div>
      </div>
  </div>
</div>
