    <div *ngIf="nav_panel" class="prev_next_panel {{wrap_class}}">

        <button *ngIf="!is_first_item && nav_panel_active" class="prev_next_item_btn" [matTooltip]="next_tool"
        placement="bottom" mat-raised-button (click)="goToItem(-1)"><i class="material-icons">navigate_before</i></button>
        <button *ngIf="is_first_item || !nav_panel_active" class="prev_next_item_btn" mat-raised-button disabled><i class="material-icons">navigate_before</i></button>        

        <button *ngIf="!is_last_item && nav_panel_active" [matTooltip]="prev_tool"
        placement="bottom" class="prev_next_item_btn" mat-raised-button (click)="goToItem(1)"><i class="material-icons">navigate_next</i></button>
        <button *ngIf="is_last_item || !nav_panel_active" class="prev_next_item_btn" mat-raised-button disabled><i class="material-icons">navigate_next</i></button>

    </div>
    <div class="clr"></div>