<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-md-6 col-xs-12 activity_date_filter ">
            <kendo-buttongroup [selection]="'single'">
                <button  type="button" (click)="setActivityDate(0)" kendoButton [togglable]="true" [selected]="selected_filter.date_mode == 0">
                    {{'ACTIVITY.FILTER_ALL' | translate}}
                </button>
                <button  type="button" (click)="setActivityDate(-1)" kendoButton [togglable]="true" [selected]="selected_filter.date_mode == -1">
                    {{'ACTIVITY.FILTER_LATE' | translate}}
                </button>
                <button  type="button" (click)="setActivityDate(1)" kendoButton [togglable]="true" [selected]="selected_filter.date_mode == 1">
                    {{'ACTIVITY.FILTER_MY_DAY' | translate}}
                </button>
                <button type="button" (click)="setActivityDate(2)" kendoButton  [togglable]="true" [selected]="selected_filter.date_mode == 2">
                    {{'ACTIVITY.FILTER_TOMORROW' | translate}}
                </button>
                <button type="button" (click)="setActivityDate(3)" kendoButton  [togglable]="true" [selected]="selected_filter.date_mode == 3">
                    {{'ACTIVITY.FILTER_THIS_WEEK' | translate}}
                </button>
                <button type="button" (click)="setActivityDate(4)" kendoButton  [togglable]="true" [selected]="selected_filter.date_mode == 4">
                    {{'ACTIVITY.FILTER_NEXT_WEEK' | translate}}
                </button>
            </kendo-buttongroup>
        </div>
        <div class="col-md-6 col-xs-12 float-right text-right">
       <!--     <button  (click)="onButtonActivityClick()" mat-raised-button color="accent"><i class="material-icons">add</i><span> Add Activity</span></button> -->
        </div>

    </div>  
    <div class="row pt-3">
        <div class="col-sm-auto">
            <input class="form-control" type="text" style="min-width:270px;" [value]="selected_filter['searchTerm']" #activitiesFilterSearchTerm name="searchTerm" [placeholder]="search_placeholder" />
        </div>         
        <div *ngIf="loaded" class="col-md-2 col-xs-12 ">
            <multi-checkbox *ngIf="assigned_list" name="assigned_to" defText="{{'ACTIVITY.FILTER_ASSIGNEE' | translate}}" [value]="selected_filter['assigned_to']" [options]="assigned_list"  (valueChange)="changeAssigned($event)" ></multi-checkbox>
        </div>
    </div>  
</div>
<div class="pt-4">
    <div class="container-fluid">
    <activity-grid 
        [mode]="view_mode" 
        [def_take]="def_take" 
        [def_skip]="def_skip"  
        [searchTerm]="selected_filter.searchTerm" 
        [def_sort]="def_sort"        
        [status_list]="status_list"
        [date_mode]="selected_filter.date_mode"
        [assigned_to]="selected_filter.assigned_to"
        (emitState)="stateGrid($event)">
    </activity-grid>
    </div>
</div>
