<span #anchor (click)="onToggle()" class="activity_topic_title"> 
    <i *ngIf="selectedId" class="material-icons activity_topic_title_icon">local_offer</i>     
    <span *ngIf="!selectedId" class="k-icon k-i-pencil"></span>
    <span> {{ title }}</span>
</span>
<span> /</span>
<kendo-popup #popup [anchor]="anchor" [anchorAlign]="anchorAlign" [popupAlign]="popupAlign" *ngIf="show">
    <div class="position_relative">
        <div *ngIf="saving" class="activity_topic_mask">
            <img src="assets/images/pipe_loader.gif" />
        </div>
        <ul class="activity_topic_list">
            <ng-container *ngFor="let topic of topicList">
                <ng-container *ngIf="topic.id != selectedId">
                    <li (click)="selectTopic(topic.id)">  
                        <i class="material-icons">local_offer</i> {{ topic.title }}
                    </li>          
                </ng-container>
            </ng-container>
        </ul>
        <div *ngIf="selectedId" class="activity_topic_remove"  (click)="removeTopic()">
            Remove Topic
        </div>    
    </div>
</kendo-popup>