<kendo-grid
          #activityGridInstance="kendoGrid"
          [data]="view | async"
          [loading]="view['loading']"
          [pageSize]="state.take"
          [skip]="state.skip"
          [sort]="state.sort"
          [sortable]="true"
          [rowClass]="rowCallback"
          [pageable]="{
            pageSizes: take_list
          }"
            [scrollable]="'none'"
          (dataStateChange)="dataStateChange($event)"
          (cellClick)="onCellClick($event)"
        >
        <kendo-grid-messages noRecords="{{'GENERAL.GRID_NO_RECORDS' | translate}}" pagerItemsPerPage="{{'GENERAL.GRID_PAGER_ITEMS_PER_PAGE' | translate}}" pagerOf="{{'GENERAL.GRID_PAGER_OF' | translate}}" pagerItems="{{'GENERAL.GRID_PAGER_ITEMS' | translate}}"></kendo-grid-messages>
        <kendo-grid-column *ngIf="mode=='page'" field="act_key" title="Key"  [class]="{'pointer_td': true}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.act_key}}
            </ng-template>
        </kendo-grid-column>   
        <kendo-grid-column field="board_id" title="{{'ACTIVITY.BOARD' | translate}}"  [class]="{'pointer_td': true}" >
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span *ngIf="!dataItem.board">{{ dataItem.board_id }}</span>
                <a *ngIf="dataItem.board" [routerLink]="['/boards/', dataItem.board]" class="see_item_link_cell">{{ dataItem.board_id }}</a>
            </ng-template>
        </kendo-grid-column>         

        <kendo-grid-column *ngIf="mode=='page222'" field="type" title="{{'ACTIVITY.TYPE' | translate}}"  [class]="{'pointer_td': true}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="table_summary">
                    <span>
                        <i *ngIf="dataItem.type==3" class="material-icons">people</i>
                        <i *ngIf="dataItem.type==2" class="material-icons">phone</i>
                        <i *ngIf="dataItem.type==1" class="material-icons">query_builder</i>
                    </span>
                    <span style="vertical-align: top; padding-right: 3px;">{{dataItem.type_name}}</span>
                </div>
            </ng-template>
        </kendo-grid-column>         
        
        <kendo-grid-column field="summary" title="{{'ACTIVITY.SUMMARY' | translate}}"  [class]="{'pointer_td': true}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div class="table_summary">
                  <span *ngIf="mode!='page'">
                    <i *ngIf="dataItem.type==3" class="material-icons">people</i>
                    <i *ngIf="dataItem.type==2" class="material-icons">phone</i>
                    <i *ngIf="dataItem.type==1" class="material-icons">query_builder</i>
                  </span>
                  <span style="vertical-align: top; padding-left: 3px;">{{dataItem.summary}}</span>
                </div>
            </ng-template>
        </kendo-grid-column>
  
        <kendo-grid-column *ngIf="mode=='page222'" field="description" title="{{'ACTIVITY.DESCRIPTION' | translate}}"  [class]="{'pointer_td': true}">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                {{dataItem.description}}
            </ng-template>
        </kendo-grid-column>   
       
        <kendo-grid-column *ngIf="mode=='page'" field="assigned_to" title="{{'ACTIVITY.ASSIGNEE' | translate}}"  [class]="{'pointer_td': true}" ></kendo-grid-column>
        
        <kendo-grid-column *ngIf="columns.includes('type_id')" field="type_id" title="Type" [sortable]="false" [class]="{'pointer_td': true}" >
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">{{ dataItem.type_name }}</ng-template>
        </kendo-grid-column>
        
        <kendo-grid-column field="from_date" title="{{'ACTIVITY.DATE' | translate}}"  [class]="{'pointer_td': true}" ></kendo-grid-column>
        <kendo-grid-column field="status_id" width="120" title="{{'ACTIVITY.STATUS' | translate}}" >
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <kendo-dropdownlist *ngIf="!statusReadonly && dataItem.status_list" [data]="dataItem.status_list" style="max-width: 100%;" (valueChange)="selectActivityStatus($event, dataItem.id)" textField="name" valueField="id" [valuePrimitive]="true" [value]="dataItem.status_id" >
                    <ng-template kendoDropDownListValueTemplate let-dataItem2>
                        <div class="activity_status_title activity_status_title_{{ dataItem2?.id }}">{{ dataItem2?.name }}</div>
                    </ng-template>
                    <ng-template kendoDropDownListItemTemplate let-dataItem2>
                        {{ dataItem2?.name }}
                    </ng-template>
                </kendo-dropdownlist>
                <div *ngIf="statusReadonly && dataItem.status_name">
                    {{ dataItem.status_name }}
                </div>
            </ng-template>
        </kendo-grid-column>
      </kendo-grid>
