.subtask_item_element {padding: 6px; font-size: 14px; display: flex;}
.subtask_item_element:hover {text-decoration: none; background-color: #eee;}
.subtask_item_element_prefix {padding-right: 10px; color:rgb(137 147 164);}
.subtask_item_element_summary {flex: 1 1 0%; color: #000}

.subtask_item_user {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: inline-block;
    background-color: #9C27B0;
    color: #fff;
    text-align: center;
    font-size: 14px;
    margin-left: 6px;
    letter-spacing: 0.2px; font-family: monospace;
}

.subtask_item_status {display: flex; color:#000}