/* note component */
@-moz-keyframes spin { 
    100% { -moz-transform: rotate(90deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(90deg); } 
}
@keyframes spin { 
    100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); } 
}
@-moz-keyframes back_spin { 
    100% { -moz-transform: rotate(-90deg); } 
}
@-webkit-keyframes back_spin { 
    100% { -webkit-transform: rotate(-90deg); } 
}
@keyframes back_spin { 
    100% { -webkit-transform: rotate(-90deg); transform:rotate(-90deg); } 
}

.note_head_title {display: inline-block; vertical-align: middle}
.note_head_title_icon {vertical-align: middle; margin-left: 3px;}
.note_head {background-color: #fff; border-radius: 6px 6px 0 0; min-height: auto; padding: 12px 0 5px; position: relative;}
.note_head_in {padding: 8px 15px; }
.note_head_in.note_spec_bg {background-color: rgba(254, 242, 0, 0.25)}
.note_head i.fa-history {margin-top: 2px;}
.note_head h3,  .note_head i.fa-histor {color: #797979; font-size: 16px; font-weight: bold;}
.note_head_in h3 {margin-top: 0;}
.note_head_add_activity_btn {margin: -5px 0 0px 0;}
.note_head i.fa-history {float: right; margin-left: 10px;}
.note_head h3 {letter-spacing: 1px;}
.note_body {background-color: #fff; padding: 10px 15px;}
.note_list {max-height: 700px;min-height: 120px;overflow: auto; position: relative;}
.note_list.spec_note_list {max-height: 420px;}
.note_list_mask {position: absolute; width: 100%; height: 100%; z-index: 999; text-align: center;}
.todo-tasklist-item {position: relative;}
.todo-tasklist-item-border-red {border-right: 2px solid #2a3542;}
.todo-tasklist-item-border-red.private_message {border-right-color: #EB1E23;}
.todo-tasklist-item {background: #f5f5f5 none repeat scroll 0 0;margin-bottom: 15px;overflow: hidden;padding: 10px;box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;}
.todo-tasklist-item img {margin: 0 0 6px 10px;}
.todo-userpic {border: 1px solid #cedae1;border-radius: 50%;}
.float_right {float: right;}
.todo-tasklist-item-title {color: #2b4a5c;font-size: 16px;font-weight: 600;padding-bottom: 10px;padding-top: 3px;}
.todo-tasklist-item-text {color: #577688;font-size: 16px;padding-bottom: 5px;}
.close_btn {min-width: inherit; position: absolute;z-index: 10; top: 15px; left: 18px;cursor: pointer;
    -webkit-animation:back_spin 100ms linear;
    -moz-animation:back_spin 100ms linear;
    animation:back_spin 100ms linear;
}
.close_btn:hover {-webkit-animation:spin 100ms linear;
    -moz-animation:spin 100ms linear;
    animation:spin 100ms linear;}


.note_check_line {padding:5px 0 0 0;}
.note_check_line .mat-checkbox-label {font-weight: normal;}
.note_check_line i {padding-right: 3px; font-size: 16px;}
.todo-tasklist-date.todo-tasklist-date-clickable {text-decoration: underline; color: #1598d9; cursor: pointer;}
.message_doc_link { color: #1598d9; cursor: pointer; font-size: 12px; margin-top: -4px; display: block;}
.message_doc_link:hover{text-decoration: underline;}
.sub_note_list {padding-top: 20px;}
.sub_note_list_item {position: relative; padding-right: 35px;}
.sub_note_list .todo-tasklist-item { border-width: 0px; border-radius: 15px;}
.sub_note_list_item_sym {position: absolute; top: 25px; right: -10px; width: 42px; height: 2px; border: 1px dashed #000}



