<div *ngIf="mode=='regular'">
  <div class="note_head">
    <button *ngIf="tmpModuleId" (click)="closeTmpNotes()" class="close_btn" mat-raised-button><i class="fa fa-close" aria-hidden="true" style="color:#ff6358;"></i></button>
    <div class="note_head_in" [class.note_spec_bg]="tmpModuleId">
      <div class="float-left">        
        <i class="material-icons note_head_title_icon">history</i>
        <h3 class="note_head_title">{{compTitle}}</h3>        
      </div>
      <div *ngIf="moduleName=='Property'" class="note_head_add_activity_btn float-right">
        <button *isDesktop (click)="toAddActivityDialog()" mat-raised-button color="accent"><i class="material-icons">add_circle_outline</i> Add Activity</button>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="note_body">
    <form *ngIf="!((moduleName == 'Property' || moduleName == 'Customer') && globalDataService.current_user && globalDataService.current_user.wall_hide_new_note)" [formGroup]="noteForm" (ngSubmit)="onNoteFormSubmit()">
      <textarea #someVar class="form-control" formControlName="text" myAutofocus focus="" required placeholder="Write a message and update "></textarea> <!--autofocus-->
      <div style="margin:10px 0 12px 0;">
      <div *ngIf="moduleName == 'Property111'" class="float_right">
        <mat-checkbox class="example-margin" formControlName="private" > הודעה פרטית <i class="fa fa-question-circle" aria-hidden="true"
          tooltip="ההודעה תהיה גלויה אליך ואל הנהלה בלבד 
          ותפיע עם קו אדום כדי שלך יהיה ברור
          שזה הודעה פרטית"
          placement="top"  ></i>
        </mat-checkbox>
      </div> 
      <div *ngIf="moduleName != 'Property111'">
        <input type="hidden" formControlName="private" />
      </div>
      <div class="float_left">
        <button type="submit" style="position: relative;" mat-raised-button [disabled]="noteForm.invalid || noteFormSubmitted" color="primary">Save</button>
      </div>
      <div class="clr"></div>
    </div>
  </form>
  <div *ngIf="moduleName != 'NewWorker'" class="note_filter_panel">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <kendo-buttongroup [selection]="'single'" >
            <button  type="button" (click)="setLogType(0)" kendoButton  [selected]="note_type==0" look="flat">
              <i class="material-icons" style="font-size:18px;vertical-align: text-bottom;">apps</i> All
            </button>
           
                       
                        
          </kendo-buttongroup>
        </div>
      </div>
  </div>  
    <div class="note_list">
      <div #startNote></div>
      <div *ngIf="!noteMessageLoaded" class="note_list_mask"><img src="assets/images/skype_mask_.gif" alt="mask" /></div>
      <div *ngFor="let message of messages" class="todo-tasklist-item todo-tasklist-item-border-red" [class.edit_mode]="message.edit_mode" [class.thumbtack_message_box_item]="message.thumbtack"  [@anim]="message.state" [class.private_message]="isPrivateMessage(message.type)">
          
          <span *ngIf="!message.photo" class="add_comment_panel_user_no_photo_27" [title]="message.name">{{ message.name.charAt(0) }}</span>            
          <img *ngIf="message.photo" class="todo-userpic float_right" [src]="message.photo" [alt]="message.name" width="27" height="27">
          <div class="todo-tasklist-item-title">  {{message.name}} </div>
          <div *ngIf="!message.edit_mode" class="todo-tasklist-item-text line-breaker" [innerHTML]="message.text"></div>
          <div *ngIf="message.doc_id && globalDataService && globalDataService.productType == 'web'" (click)="readPdf(message.doc_id)" class="message_doc_link">לינק לקובץ</div>
          <a *ngIf="message.doc_link && globalDataService && globalDataService.productType == 'app'" [href]="message.doc_link" [target]="'_blank'" class="message_doc_link">לינק לקובץ</a>
          <div *ngIf="isEditableItem(message.type, message.is_mine) && message.edit_mode">
          <textarea [value]="br2nl(message.text)" (input)="message.text = $event.target.value;" class="form-control"></textarea>
            <div>
              <button (click)="cancelEditNote(message.id)" class="btn btn-default btn-xs float_left save_note_button">Cancel</button> 
              <button (click)="saveNote(message.id)" class="btn btn-info btn-xs float_left save_note_button">Save</button>             
              <div class="clr"></div>
            </div>
          </div>
          <div *ngIf="message.cust_title" class="todo-tasklist-item-title todo-tasklist-item-cust_title">{{message.cust_title}}</div>
          <div *ngIf="message.prop_title" class="todo-tasklist-item-title todo-tasklist-item-cust_title">{{message.prop_title}}</div>
          <div class="todo-tasklist-controls float_right">
            <span *ngIf="message.act_id" class="todo-tasklist-date todo-tasklist-date-clickable" (click)="editActivity(message.act_id)">
                <i class="fa fa-calendar"></i> {{message.date}} 
                <!--message.date openActivityDialog(message.act_id, message.is_mine, message.prop_id, message.mode)-->
            </span>          
            <span *ngIf="!message.act_id" class="todo-tasklist-date">
              <i class="fa fa-calendar"></i> {{message.date}}
            </span>
          </div>
          <div *ngIf="message.item_children && message.item_children.length" class="float_left">
              <button (click)="moreNote(message.id)" class="note_more_button" mat-button><i class="material-icons pointer">more_horiz</i></button>
          </div>
          <div class="message_action_buttons_list">
            <div *ngIf="isRemovableItem(message.type, message.is_mine)" class="message_action_button message_remove">
              <button (click)="removeNote(message.id)" mat-mini-fab><i class="k-icon k-i-close"></i></button>        
            </div>   
            <div *ngIf="isEditableItem(message.type, message.is_mine)" class="message_action_button message_edit">
              <button (click)="editNote(message.id)" mat-mini-fab><i class="k-icon k-i-edit"></i></button>        
            </div>                 
            <div class="message_action_button message_thumbtack">
              <button (click)="thumbtackNote(message.id)" mat-mini-fab><i class="k-icon k-i-pin"></i></button>        
            </div>          
          </div>
          <div class="clr"></div>

          <div *ngIf="message.item_children && message.item_children.length && message.more_mode" class="sub_note_list">
              <div *ngFor="let child_message of message.item_children" class="sub_note_list_item">
                <div class="sub_note_list_item_sym"></div>
                <div class="todo-tasklist-item todo-tasklist-item-border-red">
                    
                    <span *ngIf="!child_message.photo" class="add_comment_panel_user_no_photo_27" [title]="child_message.name">{{ child_message.name.charAt(0) }}</span>
                    <img *ngIf="child_message.photo" class="todo-userpic float_right" [src]="child_message.photo" [alt]="child_message.name" width="27" height="27">
                    <div class="todo-tasklist-item-title">  {{child_message.name}} </div>
                    <div class="todo-tasklist-item-text line-breaker" [innerHTML]="transform(child_message.text)"></div>
                    <div class="todo-tasklist-controls float_right">      
                        <span class="todo-tasklist-date">
                          <i class="fa fa-calendar"></i> {{child_message.date}}
                        </span>
                    </div>
                    <div class="clr"></div>        
                </div>
              </div>
          </div>


          <div *ngIf="message.loading" class="message_box_item_mask">
            <div class="message_box_item_mask_bg"></div>
            <div class="message_box_item_mask_img"><img src="assets/images/messages_loader.gif" alt="mask" height="44" /></div>
          </div>

      </div>
    </div>
  </div>
</div>
<div [class.activityFixedPanel]="fixedPanel" *ngIf="mode=='spec'">
  <div class="note_head">   
    <i (click)="closeNotePanel()" class="material-icons close_btn">close</i>
    <div class="note_head_in" [class.note_spec_bg]="tmpModuleId">
      <i class="fa fa-history" aria-hidden="true"></i>
      <h3 class="float_right note_head_title">{{compTitle}}</h3>
      <div class="clr"></div>
    </div>
  </div>  
  <div class="note_body">
      <form [formGroup]="noteForm" (ngSubmit)="onNoteFormSubmit()">
        <textarea #someVar  *ngIf="moduleName!='Activity'" class="form-control" formControlName="text" myAutofocus focus="" required placeholder="כתיבת הודעה ועדכון "></textarea>
        <!--<div *ngIf="moduleName=='Activity'" formControlName="text" [froalaEditor]='editorOptions'></div>-->
        <div style="margin:10px 0 12px 0;">
        <div class="float_left">
          <button type="submit" style="position: relative;" mat-raised-button [disabled]="noteForm.invalid || noteFormSubmitted || !moduleId"
                  color="primary">Save</button>
        </div>
        <div class="clr"></div>
      </div>
    </form>
    <div class="note_list spec_note_list">
        <div *ngIf="!noteMessageLoaded" class="note_list_mask"><img src="assets/images/skype_mask_.gif" alt="mask" /></div>
        <div *ngFor="let message of messages" class="todo-tasklist-item todo-tasklist-item-border-red" [class.edit_mode]="message.edit_mode" [class.thumbtack_message_box_item]="message.thumbtack"  [@anim]="message.state" [class.private_message]="isPrivateMessage(message.type)">
            <span *ngIf="!message.photo" class="add_comment_panel_user_no_photo_27" [title]="message.name">{{ message.name.charAt(0) }}</span>            
            <img *ngIf="message.photo" class="todo-userpic float_right" [src]="message.photo" [alt]="message.name" width="27" height="27">
            <div class="todo-tasklist-item-title">  {{message.name}} </div>
            <div *ngIf="!message.edit_mode" (froalaInit)="initialize($event)" class="todo-tasklist-item-text line-breaker" [innerHTML]="transform(message.text)"></div>

            <div *ngIf="isEditableItem(message.type, message.is_mine) && message.edit_mode">
              <textarea *ngIf="moduleName == 'Lead'" [value]="br2nl(message.text)" (input)="message.text = $event.target.value;" class="form-control"></textarea>
             <!-- <div *ngIf="moduleName != 'Lead'" [(froalaModel)]="message.text" [froalaEditor]='inlineEditorOptions'></div> -->
                <div>
                  <button (click)="cancelEditNote(message.id)" class="btn btn-default btn-xs float_left save_note_button">Cancel</button> 
                  <button (click)="saveNote(message.id)" class="btn btn-info btn-xs float_left save_note_button">Save</button>             
                  <div class="clr"></div>
                </div>
              </div>
              <div class="todo-tasklist-controls float_right">      
                  <span class="todo-tasklist-date">
                    <i class="fa fa-calendar"></i> {{message.date}}
                  </span>
              </div>
              <div class="clr"></div>

            <div class="message_action_buttons_list">
              <div *ngIf="isRemovableItem(message.type, message.is_mine) && moduleName != 'Memo'" class="message_action_button message_remove">
                <button (click)="removeNote(message.id)" mat-mini-fab><i class="k-icon k-i-close"></i></button>        
              </div> 
              <div *ngIf="isEditableItem(message.type, message.is_mine)" class="message_action_button message_edit">
                <button (click)="editNote(message.id)" mat-mini-fab><i class="k-icon k-i-edit"></i></button>        
              </div>                                 
              <div *ngIf="moduleName != 'Memo' && moduleName != 'Lead'" class="message_action_button message_thumbtack">
                <button (click)="thumbtackNote(message.id)" mat-mini-fab><i class="k-icon k-i-pin"></i></button>        
              </div>          
            </div>
            <div *ngIf="message.loading" class="message_box_item_mask">
              <div class="message_box_item_mask_bg"></div>
              <div class="message_box_item_mask_img"><img src="assets/images/messages_loader.gif" alt="mask" height="44" /></div>
            </div>
  
        </div>
    </div>
  </div>  
  
</div>