<div  class="dialog_form_view">
    <div class="dialog_form_content" style="min-height: 120px;">
        <form [formGroup]="forgotForm">
            <div class="row m-0 pr-2">
                <div class="col-md-12">
                    <div class="center-block relative_label">
                        <label for="username">{{'LOGIN.PHONE' | translate}}</label>
                        <input #usernameVar type="text" formControlName="username" class="form-control" autofocus  />                
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="dialog_form_button_row">
        <div class="col-md-12 col-xs-12 text-center">            
            <button  kendoButton type="button"  [disabled]="forgotForm.invalid || forgotFormSubmitted" style="margin-right: 6px;" (click)="onforgotFormSubmit()" [primary]="true">
                <span *ngIf="forgotFormSubmitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> <span style="padding: 0 3px">{{'LOGIN.SEND' | translate}}</span>
            </button>                          
            <button  kendoButton type="button" (click)="closeDialog()">{{'LOGIN.CANCEL' | translate}}</button>                             
        </div>
    </div>      
</div>