<div kendoDialogContainer></div>
<div  *ngIf="fullScreenMask" class="full_screen_mask">
    <div class="full_screen_mask_bg"></div>
    <div class="full_screen_mask_img"><img src="assets/images/app_loading.gif" alt="mask" /></div>
</div>
<nav class="main-navigation navbar navbar-expand navbar-dark bg-dark fixed-top" >
  
    <div class="navbar-header float_left">
        <a class="navbar-brand" [routerLink]=" ['/home'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}"> 
            <img src="assets/images/new_login_logo2.png" alt="logo" height="40" />
        </a>
    </div>  


    <ul class="navbar-nav mr-auto">      
        <li><a *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 90" [routerLink]=" ['/customers'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: false}"><mat-icon>people</mat-icon> <span class="align-middle"> {{'GENERAL.CUSTOMERS' | translate}}</span></a></li> 
        <li><a *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 30" [routerLink]=" ['/activities'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: false}"><mat-icon>today</mat-icon> <span class="align-middle"> {{'GENERAL.ACTIVITIES' | translate}}</span></a></li>
        <li><a *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 90" [routerLink]=" ['/tboards'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: false}"><mat-icon>dashboard</mat-icon> <span class="align-middle"> {{'GENERAL.TEMPLATES' | translate}}</span></a></li>
        <li><a [routerLink]=" ['/boards'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: false}"><mat-icon>date_range</mat-icon> <span class="align-middle"> {{'GENERAL.BOARDS' | translate}}</span></a></li>
        <li><a *ngIf="globalDataService.current_user && globalDataService.current_user.allow_sprint" [routerLink]=" ['/sprints'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: false}"><mat-icon>update</mat-icon> <span class="align-middle"> {{'GENERAL.SPRINTS' | translate}}</span></a></li>
        <li><a *ngIf="globalDataService.current_user && globalDataService.current_user.allow_release" [routerLink]=" ['/releases'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: false}"><mat-icon>rocket</mat-icon> <span class="align-middle"> {{'GENERAL.RELEASES' | translate}}</span></a></li>
        <li><a *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 30 && globalDataService.current_user.time_report" [routerLink]=" ['/time'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: false}"><mat-icon>schedule</mat-icon> <span class="align-middle"> {{'GENERAL.TIME' | translate}}</span></a></li>        
        <li><a *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 30 && globalDataService.current_user.time_report" [routerLink]=" ['/time-report'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: false}"><mat-icon>equalizer</mat-icon> <span class="align-middle"> {{'GENERAL.TIME_REPORT' | translate}}</span></a></li>            
        
    </ul>
    <div *ngIf="(showSavingMask)" class="nav_menu_auto_saver">
        בתהליך שמירה <img src="assets/images/55.gif" alt="loading" style="vertical-align:inherit" />
    </div>    
    <div class="navbar-nav main_left_menu">
        <kendo-menu [items]="left_menu_items" [openOnClick]="{ toggle: 'leave' }" (select)="onMainMenuSelect($event)">
                <ng-template kendoMenuItemTemplate let-item="item">
                        
                  <div [innerHtml]="trustHtml(item.text)"></div>
                </ng-template>
        </kendo-menu>        
    </div>  
</nav>
<!-- main app container -->
<router-outlet></router-outlet>