<div class="multi_checkbox_component_wrap">
    <button #anchor kendoButton  (click)="onToggle()" class="k-button" [icon]="'arrow-chevron-down'" [title]="toggleText">{{toggleText}}</button>
    <input class="form-control" maxLength="30" [value]="value"  [type]="'hidden'">
    <kendo-popup #popup popupClass="content" [anchor]="anchor" class="wrapper" [anchorAlign]="anchorAlign" [popupAlign]="popupAlign" *ngIf="show">
        <div *ngIf="withSearch && options.length && !readonly && !hideAllClear" class="multi_checkbox_component_control multi_checkbox_component_control_up">
            <input #searchIn type="text" maxlength="15" (keyup)="searchOption($event.target.value)" class="form-control multicheckbox-search" placeholder="Search"  />
        </div>         
        <ul class="multi_checkbox_ul" [style.max-height]="popupHeight">
            <li *ngFor="let option of options, let i = index" [appScrollableItem]="option.name" [class.withBorder] = "option.hasBorder">
                <mat-checkbox class="example-margin" [checked]="option.selected" (change)="autoSave($event, option.id)" > {{ option.name }}</mat-checkbox>
                <div *ngIf="readonly" class="readonly_block"></div>
            </li>
        </ul>
        <div *ngIf="options.length && !readonly && !hideAllClear" class="multi_checkbox_component_control">
            <div class="multi_checkbox_component_control_elem multi_checkbox_component_checkall" (click)="checkAll(true)"><i class="fa fa-check" aria-hidden="true"></i> {{'GENERAL.MULTICHECK_ALL_BUTTON' | translate}}</div>
            <div class="multi_checkbox_component_control_elem multi_checkbox_component_uncheckall" (click)="checkAll(false)"><i class="fa fa-times" aria-hidden="true"></i> {{'GENERAL.MULTICHECK_CLEAR_BUTTON' | translate}}</div>            
            <div class="clr"></div>
        </div>        
    </kendo-popup>
</div>