.multi_checkbox_component_wrap > button {width: 100%; display: inherit; background-color: #fff; text-align: left; overflow-x: hidden;text-overflow: ellipsis; white-space: nowrap;}
.multi_checkbox_component_wrap > button > span {position: absolute; top: 10px; right: 0px;}
.multi_checkbox_ul {margin: 0; padding: 10px 0 10px 10px;  max-height: 150px; overflow-y: auto;}
.multi_checkbox_ul li {position: relative;height: 30px;list-style-type:none;min-width: 180px; border: 1px solid #fff; padding: 0 5px;}
.multi_checkbox_ul li.withBorder {border: 1px solid #ccc;}
.multi_checkbox_component_control {padding: 3px 10px 0 10px; }
.multi_checkbox_component_control.multi_checkbox_component_control_up {padding-bottom: 3px;}
.multi_checkbox_component_control_elem {cursor: pointer; text-decoration: underline;color:#EB1E23; font-weight: bold}
.multi_checkbox_component_checkall {float: left; color:#5CB85C;}
.multi_checkbox_component_uncheckall {float: right;}
.form-control.multicheckbox-search {font-size: 14px; padding: 0.275rem 0.55rem; height: calc(1.3em + 0.75rem + 1px);}
.form-control.multicheckbox-search:focus {box-shadow: none;}