:host ::ng-deep {

    text-align: right;

    .board_mode_button {position: absolute; z-index: 999; top: 10px; left: 20px;}
    .templates_readonly_mode_mask {display: none; position: absolute; top:0; right: 0; width: 100%; height: 100%; z-index: 55; background-color: rgba(0,0,0,.52);}
    .board_readonly_mode .templates_readonly_mode_mask {display: block;}
    .board_readonly_mode .board_workarea_wrap {z-index: 999; position: relative;}
    .board_mode_sort_buttons {color: #fff; padding-left: 12px; display: none;}
    .board_readonly_mode .board_mode_sort_buttons {display: inline;}
    .board_mode_sort_buttons_item {cursor: pointer; padding: 4px 8px;}
    .board_mode_sort_buttons_item.board_mode_sort_buttons_item_active {color: #5e6c84; background-color: #fff; border-radius: 3px;}    

    .col-auto.ml-auto.fs--1 {margin-right: auto !important; margin-left: 0 !important;}

    .activity_comment_content {
        img {max-width: 100%;}
    }
    .activity_dialog_close_button {position: absolute; top: 15px; left: 5px;} 
    .navbar-nav.mr-auto {margin-left: auto !important; margin-right: inherit !important; padding-right: 0;}
    .navbar-brand {margin-right: 0rem;margin-left: 1rem;} 

    .dialog_form_view.dialog_form_view_rtl kendo-editor > .k-content > .ProseMirror, kendo-editor .k-editor-content > .ProseMirror {text-align: right; direction: rtl;}
    .dialog_form_view.dialog_form_view_rtl .input_var_dir, 
    .dialog_form_view.dialog_form_view_rtl .text_var_dir
    {text-align: right; direction: rtl;}


    .ml5px {margin-left: 5px;}    
    .pl20px {padding-left: 20px;}        
    .mr10px {margin-right: 10px;}
    .ml10px {margin-left: 10px;}
    .mr15px {margin-right: 15px;}
    .ml15px {margin-left: 15px;}
    .mr20px {margin-right: 20px;}
    .ml20px {margin-left: 20px;}
    .mr25px {margin-right: 25px;}

    .float_left {float: right !important;}
    .float_right {float: left !important;}

    
    .main_menu_name {padding-right: 5px;}
    .main_menu_photo {width: 26px;height: 26px;border-radius: 100%;}
    
    .k-popup.k-menu-popup .k-item.k-menu-item.k-last {font-size: 12px; cursor: default; border-top: 1px solid #DDDFE0;}
    .k-popup.k-menu-popup .k-item.k-menu-item.k-last .k-link.k-menu-link {cursor: default;}
    .k-animation-container.k-animation-container-shown .k-popup.k-menu-popup {padding: .5rem 0 0 0;}
    .k-animation-container.k-animation-container-shown .k-popup.k-menu-popup .k-group.k-menu-group.k-reset {padding: .5rem 0px 0;}    
    .nav_menu_auto_saver {float: left; margin: 3px 0 0 20px; color:#fff;}


    
    #global-search {
        background-color: transparent;
        float: right;
        position: relative;
        transition: background-color 0.15s ease-in 0s;
    }
    
    #global-search input {
        -moz-appearance: none;
        background-color: #888e94;
        border: medium none;
        border-radius: 4px;
        box-shadow: none;
        box-sizing: border-box;
        color: #3d4145;
        font-size: 14px;
        height: 32px;
        line-height: 18px;
        opacity: 0.5;
        outline: medium none;
        padding: 8px 32px 8px 4px;
        width: 160px;
    }

    #global-search.searching #search-spinner {
        background: #fff none repeat scroll 0 0;
        border-radius: 6px;
        display: block;
        height: 26px;
        left: 10px;
        margin-top: -14px;
        position: absolute;
        top: 50%;
        width: 26px;
    }

    #global-search span.icon-globalsearch {
        right: 7px;
        position: absolute;
        top: 7px;
    }

    
    html.firefox #global-search span.icon-globalsearch {
        left: 14px;
        top: 10px;
    }

    @media (min-width: 768px) {
        .offset-md-1 {
            margin-right: 8.3333333333%;
            margin-left: auto !important;
        }
    }    

    .relative_label .alert-danger {padding: 1px 5px; position: absolute; left: 0; font-size: 12px;}

    /* DIALOG CONTENT */
    .k-widget.k-window.k-dialog {max-height: 90%;}
    .k-content.k-window-content.k-dialog-content {padding-bottom: 0; background-color: #F1F2F7;}
    .dialog_form_view {height: 100%; position: relative;}
    .dialog_saving_mask {position: absolute; right: 100px; bottom: 15px;}
    .dialog_form_content {min-height: 250px; /*max-height: calc(100% - 61px);*/ overflow-y: auto; overflow-x: hidden;}
    .dialog_form_content.dialog_form_content_comment_focus {min-height: 250px; max-height: inherit; overflow-y: inherit;}
    .dialog_form_content.dialog_form_content_history_focus  {max-height: calc(100% - 14px); }
    .dialog_form_button_row {text-align: left !important; padding: 15px 0 8px 0;position: relative; direction: ltr;}
    .dialog_form_button_row.activity_comment_click_panel {text-align: right;direction: rtl;}
    .dialog_form_button_row_first {margin-right: 6px;}
    
    .activity_comment_edit_buttons {padding:6px 0 0 0; text-align: left; direction: ltr;
        
    }
    

    .dialog_form_content .form-check-inline {margin: 0 !important; margin-right: -1px !important; border: solid 1px #e7e7e7;}
    .dialog_form_content .k-radio-label {display: block; margin: 0; align-items: center; justify-content: center; padding: 7px 20px;}
    .dialog_form_content .k-radio-label .material-icons {margin-right: 5px; font-size: 21px; vertical-align: top;}
    
    /* ==========================================================================
    DEFAULT TABS
    ========================================================================== */   
    
    .prev_next_panel {margin: 0 !important;}
    .prev_next_panel .prev_next_item_btn {margin-right: 4px;}
    /*.prev_next_panel .prev_next_item_btn {line-height: 28px; min-width: 61px !important; padding: 0px 6px; color: #000; box-shadow: none !important;}*/
    .prev_next_panel .prev_next_item_btn[disabled] {background-color: #ccc !important;}
    
    
    .mr0px {margin-right: 0px !important;}
    .k-widget.k-window.k-dialog {max-height: 84%; max-width: 100%;}
    .k-content.k-window-content.k-dialog-content {padding-bottom: 0;}
    .k-upload {border: 1px dashed #aaa !important; margin: 0 0 8px 0 !important;}
    .activity_time .k-dropdown {width: 100%;}
    .required_field {color: #d9534f;font-size: 18px;}
    .relative_label .alert-danger {padding: 1px 5px; position: absolute; left: 0; font-size: 12px;}
    .form_button_row_mask {position: absolute; width: 100%; height: 100%; background-color: rgba(255,255,255,0.55); top:0; z-index: 100;}
    .k-file-image-wrapper {width: 80px;height: 60px; text-align: center;}
    .k-file-image-wrapper img {max-width: 100%;max-height: 100%;}
    .k-upload .k-upload-files .k-upload-status {left: 18px !important;}
    .k-button.k-upload-action.k-upload-action-download {position:absolute; bottom: 2px; left: 4px;}
    .k-upload .k-upload-files .k-file-name {white-space: normal !important;}
    .add_comment_control {padding: 30px 0 15px 0;}
    .form-control.form-control-kendoTextArea.k-textarea {width: calc(100% - 35px);} 
    .form-control.form-control-kendoText {width: calc(100% - 48px);}
    .add_comment_control_buttons {padding: 5px 0px 5px 35px; direction: ltr; text-align: left;}
    .add_comment_panel_user {margin: 2px 0px 0 8px;}
    .add_comment_panel_user img {width: 30px; height: 30px; border-radius: 100%;}
    .add_comment_panel_user_no_photo {width: 30px; height: 30px; line-height: 28px; display: inline-block; border-radius: 50%; background-color: #9C27B0 /*#5C6BC0*/; color: #fff; text-align: center; font-size: 14px;}
    .add_comment_panel_user_no_photo_27 {cursor: default; width: 27px; height: 27px; line-height: 26px;margin: 0 0px 6px 10px; display:block; border-radius: 50%; background-color: #9C27B0; color: #fff; text-align: center; font-size: 14px; float: right;}
    .activity_messages {padding-top: 10px;}
    .activity_message_item {font-size: 14px; padding: 3px 0 20px 0; position: relative;}
    i.material-icons.arrow_right_alt {transform: rotate(180deg) !important;}

    .activity_message_item_name {font-weight: bold;}
    .activity_message_item_date {padding-right: 8px;}
    .activity_message_item_controls {padding-top: 7px;}
    .activity_message_item_control_item {cursor: pointer; padding-left: 10px; color: rgb(137, 147, 164); font-size: 16px;}
    .activity_message_item_control_item:hover {text-decoration: underline;}
    .activity_date_info {padding-top: 15px;}
    .activity_date_info_row {font-size: 14px;}
    /*.activity_comment_click_panel {position: fixed; bottom: 0;left: 50%; transform: translateX(-50%); width: 100%;}*/
       
    .activity_history_attr_old_new {max-width: 45%;}
    .todo-tasklist-item-text > p {margin: 0 !important;}
    .assignee_combo_list_photo {width: 24px; height: 24px; border-radius: 50%; margin-right: 10px;}
    .assignee_combo_list_text {display: inline-block; max-width: 150px;}
    .list_photo_no_photo_design {width: 24px; height: 24px; display: inline-block; border-radius: 50%; margin-left: 10px; background-color: #9C27B0 /*#5C6BC0*/; color: #fff; text-align: center; font-size: 14px;}
    .list_photo_no_photo_design2 {padding: 3px 8px; border-radius: 50%; margin-right: 2px; background-color: #9C27B0 /*#5C6BC0*/; color: #fff; text-align: center; font-size: 14px;}
    .login_no_photo_design {width: 26px; height: 26px; line-height: 24px; display: inline-block; border-radius: 50%; background-color: #9C27B0 /*#5C6BC0*/; color: #fff; text-align: center; font-size: 14px;}
    
    activity-form .k-multiselect .k-multiselect-wrap .k-button .k-select {margin-left: 5px;}
    
    .priority_combo_list_icon {width: 14px; height: 14px; border-radius: 50%; margin-right: 10px;}
    .k-list .k-item.k-state-selected {background-color: #fff !important; color: #000 !important; border: 2px solid #61A8F5 !important; border-radius: 4px;}
    .k-multiselect-wrap .k-button .k-select {margin-right: 0 !important; margin-left: 5px;}
    
    .message_box_item .message_action_button,  .todo-tasklist-item .message_action_button {float:left; margin-right: 5px;  }
    .message_action_buttons_list {position: absolute; top:5px; display: none; z-index: 999; right: 5px;}
    .message_box_item:hover .message_action_buttons_list, .todo-tasklist-item:hover .message_action_buttons_list {display: inline-block;}
    .message_action_button .mat-mini-fab i {font-size: 14px; padding: 0px;}
    .message_action_button .mat-mini-fab {min-width: inherit; padding: 0px; line-height:24px; width: 24px; height: 24px; background-color: #c0c0c0;}
    .message_action_button.message_thumbtack { float: left;}
    .message_action_button.message_remove {float: left;}
    .message_box_item.thumbtack_message_box_item .message_action_buttons_list,  .todo-tasklist-item.thumbtack_message_box_item .message_action_buttons_list {display: inline-block;}
    


    
        .k-button-group .k-button:first-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;              
          
        }   
        
        .k-button-group .k-button:last-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;            
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;  
        }
    
    


    .multi_checkbox_component_wrap > button {width: 100%; display: inherit; background-color: #fff; text-align: right !important; overflow-x: hidden;text-overflow: ellipsis; white-space: nowrap;}
    .multi_checkbox_component_wrap > button > span {position: absolute; top: 10px; left: 0px !important; right: auto !important;}
    .multi_checkbox_component_control {padding: 3px 10px 0 10px !important; }
    .multi_checkbox_component_checkall {float: right !important; color:#5CB85C;}
    .multi_checkbox_component_uncheckall {float: left !important;}   
  



.prop_status {display: inline-block; position: relative; top: 2.5px; width: 15px; height: 15px; margin-right: 10px; border-radius: 100%;}


.properties_desc {margin-top: 42px;}
.properties_desc:nth-of-type(1) {margin-top: 12px;}
.properties_desc_title {padding-bottom: 10px; border-bottom: solid 2px #ccc;}
.properties_desc_title > span {font-size: 20px; font-weight: bold; color: #000;}
.properties_desc_title > span > i {font-size: 27px;}
.properties_desc_title .status {display: inline-block; margin-right: 20px;}
.properties_desc_line {padding: 10px 0; padding-left: 10px; font-size: 16px; border-bottom: solid 1px #ccc;}
.properties_desc_line_label {font-weight: bold; font-weight: bold; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; direction: ltr; text-align: left;}
.properties_desc_line_content {text-align: right;}
.properties_desc_line_content > img {max-height: 20px;}

.properties_desc_title.properties_desc_title_status {position: absolute; left: 15px; padding: 7px 25px; padding-left: 15px; background-color: #FFF; z-index: 1; border-bottom: 0;
     border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}



 .inner_page_tab_control.k-tabstrip-top > .k-tabstrip-items {padding-left: 50px;}
 .fixed_left_control {position: absolute!important; top: 5px!important; right: auto!important; left: 20px; border: 1px solid transparent; border-bottom: 0; z-index: 99;}
 .fixed_left_control .min_width_auto.mat-raised-button {min-width: inherit!important; padding: 0 8px; border-radius: 0;background-color: #e9eaf3!important;}
 .fixed_left_control .mat-button-wrapper {color: rgba(51,51,51,.54)!important;}
 .form_view {margin: 0 auto; max-width: 1440px;position: relative;padding: 0;}
 .back {position: absolute;right: 0px;padding: 5px 30px;margin-top: 0px;color: #fff;font-weight: 700;letter-spacing: 1px;background-color: #5cb85c;
    border-radius: 2px;cursor: pointer; z-index: 1;
    -webkit-box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);}


 .page_control_panel_property_customer_item_third {clear: right;}
.page_control_panel_property_customer_item_last button {line-height: 32px !important;}


.page_control_panel {padding:0 0px 15px 0px;}
.page_control_panel.properties_page_control_panel .multi_checkbox_component_wrap > button.k-button {padding: 6px 8px; background-image: none; background-color: #fff;}
.page_control_panel.properties_page_control_panel .multi_checkbox_ul {max-height: 190px;}
.page_control_panel.properties_page_control_panel .text_range_component_wrap > button.k-button {background-image: none; background-color: #fff;}
.button_color_09 {background-color: grey!important; color: #fff!important; margin-left: 10px!important;}
.button_color_09.status_buttons_selected_1 {background-color: #00c875!important;}

.page_control_panel_property_customer button { margin-right: 8px; padding: 0px 13px !important;}
.page_control_panel.page_control_panel_property_customer {padding-right: 0px;}
customer-item property-customer .page_control_panel_property_customer .form-control {margin-bottom: 15px;}
customer-item property-customer .page_control_panel_property_customer_item {float: right !important; width: 66% !important; max-width: 100% !important;}
customer-item property-customer .page_control_panel_property_customer_item_second {/*float: left !important;*/ width: auto !important; max-width: 84% !important;}
customer-item property-customer .page_control_panel_property_customer_item_btn {display: flex; flex-wrap: wrap; justify-content: space-between;}
customer-item property-customer .page_control_panel_property_customer_item_btn > button {float: none !important; width: 49% !important; min-width: 49% !important; padding: 0 !important; margin: 0 !important; margin-bottom: 10px !important;}
customer-item property-customer .page_control_panel_property_customer_item_btn > div {float: none !important; width: 49% !important; margin: 0 !important;}
customer-item property-customer .page_control_panel_property_customer_item_btn > div > button {float: none !important; width: 100% !important; line-height: 36px !important; margin: 0 !important;}


.k-i-arrow-end-right::before,  .k-i-seek-e::before {content: "\e00b" !important;}
.k-i-arrow-end-left::before, .k-i-seek-w::before {content: "\e009" !important;}

 .k-i-arrow-60-right::before, 
.k-i-arrow-e::before, 
 .k-i-sarrow-e::before, 
 .k-i-expand::before, 
 .k-i-expand-e::before {
    content: "\e007" !important;
}

.k-i-arrow-60-left::before, 
.k-i-arrow-w::before, 
 .k-i-sarrow-w::before, 
 .k-i-expand-w::before {
    content: "\e005";
}

.board_workarea_wrap {padding: 15px 15px 5px 0px !important;}
.board_status_column {float: right !important; margin-right: 0px !important; margin-left: 10px;}
.board_templates_item_fav {right: auto !important; left: 9px;}
.add_board_fixed_btn {right: 10px; left: auto !important;}
.boards_list_search_panel .k-icon.k-i-search {left: 16px;right: auto !important;}
.board_workarea_control {padding: 20px 18px 5px 0px !important;}
.mr15px.board_workarea_control_users_free_search {margin-right: 0px !important; margin-left: 15px;}
.board_workarea_control_users_free_search .k-icon.k-i-search {left:7px;right: auto !important;}
.board_workarea_control_users_item {float: right !important;}
.board_topic_control_div {float: right !important; padding: 1px 14px 1px 25px !important;}
.board_add_filters {float: right !important;}
.board_topic_control {margin-left: 15px; margin-right: 0 !important;}

.board_activity_item_priority {margin: 0px 0px 0 4px !important;}
.board_activity_item_badge_text {padding-left: 0 !important; padding-right: 4px;}
.board_status_column_title {padding: 8px 5px 8px 0px !important;}
.board_status_column_box_in {
    .text-right {text-align: left !important;}
}

.board_templates_item_box_menu {right: auto !important; left: 4px;}

    .activity_topic_list {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: block;
            text-align: right;
            padding: 5px 15px 5px 35px;
            cursor: pointer;
        }

        li:hover {background-color: #F1F2F7;}

        i {font-size: 14px; vertical-align: middle;}

        li.topic_list_item_selected {background-color: #8D8E8E; color: #fff; cursor: initial;}
    }

    .activity_topic_remove {
        display: block;
        text-align: right;
        padding: 5px 10px 5px 35px;
        border-top: 1px solid #eee;     
        cursor: pointer;  
        
        
    }


    .time_drop_list_item {
        display: block;
        max-width: 300px;

        .bold {font-weight: bold;}
    }

    .activity_messages {
        time-grid {
            .k-grid {
                td, th {padding: 12px 5px;}
            }
        } 
    }

    time-grid {
        .k-grid {            
            .k-header.k-grid-toolbar, .k-command-cell {
                .mat-button.mat-raised-button.mat-button-base {
                    min-width: auto;
                    padding: 0 8px;
                    font-size: 14px;
                    line-height: 30px;
                    &:hover {color:#fff; background-color:none !important;}

                    .mat-icon {font-size: 20px;}

                    .mat-button-wrapper {line-height: 30px;}
                }
            }
        }
    }


    .time_date_prev {border-radius: 0;}
    .time_date_next {border-top-left-radius: 0; border-bottom-left-radius: 0;}
    .time_date_today {border-top-right-radius: 0; border-bottom-right-radius: 0;}
    .k-grid-toolbar {padding: 10px;}
    .time_report_stat {position: fixed; top: 75px; right: 0; z-index: 9;
        .time_report_stat_btn {
            float: right;
            button {border-radius: 30%; border-bottom-right-radius: 0; border-top-right-radius: 0; min-width: auto; padding: 0 10px;background-color: #345E90; box-shadow: none;}
        }
        .time_report_stat_content{
            border-bottom-left-radius: 20px;
            float: right;
            width: 0;
            -webkit-transition: width 0.2s;
            transition: width 0.2s;  
            background-color: #345E90;
            min-height: 300px;
            height: calc(100vh - 100px);
            overflow-y: auto;
            
            &.open_time_stat {width: 380px;}

            .time_report_stat_content_head {
                color: #fff; 
                height: 37px;
            /*   border-bottom: 1px solid #ccc;*/
                line-height: 35px;
                text-align: center;
                font-size: 16px;
            }

            .time_report_stat_content_in {      
                padding: 0 10px 10px 10px;
                color: #000;
                
                height: calc(100% - 38px);

                .time_report_stat_content_grid {
                    background-color: #fff;
                    position: relative;
                    border-bottom-left-radius: 10px;
                    height: 100%;
                

                    .time_report_stat_loading {
                        top: 0; right: 0;
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        padding-top: 50px;
                    }

                    .time_report_stat_content_grid_rows {
                        max-height: 100%;
                        overflow-y: auto;

                        .time_report_stat_content_grid_row {
                            padding: 0.3rem 0.8rem;
                        }
                    }
                }
            }
        }
    }
    

    .tasks_comment_close_buttons {
        position: fixed; bottom: 10%; z-index: 9999; left: 50%; margin-left: -490px;
    }

    .tasks_close_buttons {
        margin-right: 5px; background-color: #808080;
    }    

    .form-control.form-control-kendoTextArea.k-textarea, .col-froala-kendoTextArea .fr-box.fr-basic {width: calc(100% - 35px);} 

    .flie_uploader_item_control_buttons {
        position: absolute;
        top: 5px;
        left: 3px;
    }

    @media (max-width: 1024px){
        .tasks_comment_close_buttons {
            left: 8px; margin-left: 0px;
        }
    }     
    
    @media (max-width: 768px){
        .col-md-1.col1_5 {padding-right: 0; padding-left: 0; width: 100%;max-width: inherit;flex:none;}
     
    }     
}