<div *ngIf='!releaseItemLoaded' style="text-align:center; padding:40px 0;"><img  src="assets/images/pipe_loader.gif" /></div>
<div *ngIf='releaseItemLoaded' class="container-fluid">
    <div class="row pt-3">
        <div class="col-md-6 col-xs-12">
            <div class="float-left pl-3">
                <div>{{ customer }}</div>
                <h2>Release <strong>{{ page_title }}</strong></h2>                   
            </div>  
        </div>        
    </div>
</div>
<div *ngIf='releaseItemLoaded' class="pt-4">
    <div class="container-fluid">
    <activity-grid 
        [mode]="'page'"     
        [release_id]="release_id"
        [def_take]="50"
        [statusReadonly]="true"
        [columns]="['type_id']"
    >
    </activity-grid>
    </div>
</div>