.position_relative {position: relative;}
.checklist_component_row {width: 100%;}
.checklist_component_row_flex {display: flex;
    &:hover {background-color: #E9ECEF;}
}
.checklist_component_row_col {display: inline-block;}
.checklist_component_row_col1 {width: 40px; min-height: 15px;}
.checklist_component_row_col2 {width: calc(100% - 40px) !important;  min-height: 15px;}

.add_checklist_item_block {
    padding: 12px 0 0 0;

    .add_checklist_item_block_textarea {padding: 0 0 7px 0;
        .form-control-kendoTextArea {width: 100%;}
    }
}
.checklist_button.k-button {padding: 5px 10px;}
.checklist_add_button {background-color: #5cb85c; color: #fff;}
.checklist_button.k-button.checklist_close_button {margin-left: 7px;}

.checklist_item_element {position: relative;
    .checklist_item_element_mask {position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 9; background-color: rgba(255, 255, 255, 0.5);}
    .checklist_component_row {padding: 5px 0; margin: 3px 0;
    
        .checklist_item_checkbox {width: 20px; height: 20px; margin-left: 0px; border-radius: 0;
            &:focus {box-shadow: none;}

            &.k-checkbox:checked {
                border-color: #5cb85c;
                background-color: #5cb85c;
            }
        }  
    }
}
.progress_value {font-size: 14px; padding-left: 0px;}

.checklist_component_row_col_title {display: inline-block; width: calc(100% - 16px);
    &:hover {cursor: pointer; background-color: #E9ECEF;}
}
.checklist_component_row_col_control {display: inline-block; width: 16px; vertical-align: top; cursor: pointer;}
.add_checklist_mask {position: absolute; width: 100%; height: 100%; top:0; left: 0; background-color: rgba(255, 255, 255, 0.5); z-index: 9; text-align: center;
    img {margin-top: 30px;}
}

.edit_checklist_item_block_textarea {padding-bottom: 7px;}