<div class="checklist_component_wrap">
    <div class="checklist_component_row">
        <div class="checklist_component_row_col checklist_component_row_col1">
            <i class="material-icons" style="vertical-align: bottom;">playlist_add_check</i>
        </div>
        <div class="checklist_component_row_col checklist_component_row_col2">
            {{'ACTIVITY.CHECKLIST' | translate}}
        </div>
    </div>  
    <div class="checklist_progress">
        <div class="checklist_component_row">
            <div class="checklist_component_row_col checklist_component_row_col1">
                <span class="progress_value">{{ progressBarValue }}%</span>
            </div>
            <div class="checklist_component_row_col checklist_component_row_col2"> 
                <kendo-progressbar
                    [style.width.%]="100"
                    [animation]="progressBarAnimation"
                    [value]="progressBarValue"
                    [progressCssStyle]="progressStyles"
                    [label]="progressBarLabel"
                ></kendo-progressbar>
            </div>
        </div>
    </div>   
    <div class="checklist_items">
        <div class="checklist_item_element" *ngFor="let item of data, let i = index">
            <div *ngIf="item.saving" class="checklist_item_element_mask"></div>
            <div class="checklist_component_row checklist_component_row_flex">
                <div class="checklist_component_row_col checklist_component_row_col1 pt-1">
                  <!--  <mat-checkbox class="checklist_item_checkbox" [(ngModel)]="item.is_done"></mat-checkbox> -->
                    <input type="checkbox" class="k-checkbox checklist_item_checkbox" [(ngModel)]="item.is_done" (change)="toggleCheckbox(item.id)">
                </div>
                <div class="checklist_component_row_col checklist_component_row_col2">
                    <div class="checklist_component_row_col_title_plus" *ngIf="!item.is_edit">
                        <div class="checklist_component_row_col_title" (click)="startEditItem(item.id)">
                        {{ item.title }}
                        </div>
                        <div class="checklist_component_row_col_control">
                            <span class="k-icon k-i-close" (click)="removeItem(item.id)"></span>
                        </div>
                    </div>
                    <div class="checklist_component_row_col_title_plus" *ngIf="item.is_edit">
                        <div class="edit_checklist_item_block_textarea">
                            <textarea #editTextArea [value]="br2nl(item.title)" (keydown.enter)="updateItem(item.id);false" (input)="item.title = $event.target.value;" class="form-control w-100" kendoTextArea [autoSize]="true"></textarea>
                        </div>
                        <button class="checklist_add_button" kendoButton (click)="updateItem(item.id)">{{'GENERAL.SAVE' | translate}}</button>
                        <button class="checklist_button checklist_close_button" kendoButton (click)="cancelEditItem(item.id)" [icon]="'close'"></button>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="add_checklist_item_block">
        <div class="checklist_component_row">
            <div class="checklist_component_row_col checklist_component_row_col1"> </div>
            <div class="checklist_component_row_col checklist_component_row_col2">
                <div class="position_relative" *ngIf="show_add_control">
                    <div *ngIf="savingNew" class="add_checklist_mask">
                        <img src="assets/images/pipe_loader.gif" />
                    </div>
                    <div class="add_checklist_item_block_textarea">
                        <textarea #textAreaItem [(ngModel)]="newItemTitle" (keydown.enter)="addToList();false" class="form-control form-control-kendoTextArea" kendoTextArea [autoSize]="true"></textarea>
                    </div>
                    <button class="checklist_add_button" kendoButton (click)="addToList()" >{{'GENERAL.ADD' | translate}}</button>
                    <button class="checklist_button checklist_close_button" kendoButton (click)="hideControl()" [icon]="'close'"></button>
                </div>
                <button *ngIf="!show_add_control" class="checklist_button"  kendoButton (click)="showControl()" >{{'ACTIVITY.ADD_AN_ITEM' | translate}}</button>
            </div>
        </div>
    </div>
</div>