<mat-progress-bar [style.visibility]="loadingIndicator?'visible':'hidden'" [color]="'primary'" [mode]="'query'"></mat-progress-bar>
<kendo-grid
        #boardUserGridInstance="kendoGrid"
        [selectable]="false"
        [data]="view | async"
        [loading]="view['loading']"
        [pageSize]="state.take"
          [skip]="state.skip"
          [sort]="state.sort"
          [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }"
          [pageable]="{
            pageSizes: take_list
          }"
          [scrollable]="'none'"
           (dataStateChange)="dataStateChange($event)">
           <kendo-grid-messages noRecords="{{'GENERAL.GRID_NO_RECORDS' | translate}}" pagerItemsPerPage="{{'GENERAL.GRID_PAGER_ITEMS_PER_PAGE' | translate}}" pagerOf="{{'GENERAL.GRID_PAGER_OF' | translate}}" pagerItems="{{'GENERAL.GRID_PAGER_ITEMS' | translate}}"></kendo-grid-messages>         
          <kendo-grid-column [hidden]="true" field="id" title="#" width="40"></kendo-grid-column>
          <kendo-grid-column field="name" title="{{'BOARD.NAME' | translate}}" width="140">
            <ng-template kendoGridCellTemplate let-view let-rowIndex="rowIndex">
                <img *ngIf="view['photo']" [src]="view['photo']"  />
                <span class="board_workarea_control_users_no_photo22 bg_{{ view['color'] }}" *ngIf="!view['photo']" >
                  {{ view['first_name'].charAt(0) }}{{ view['last_name'].charAt(0) }}
                </span>
                {{view.name}}
            </ng-template> 
          </kendo-grid-column>
          <kendo-grid-column field="phone" title="{{'BOARD.PHONE' | translate}}" width="100"></kendo-grid-column>
          <kendo-grid-column field="email" title="{{'BOARD.EMAIL' | translate}}" width="100"></kendo-grid-column>
          <kendo-grid-column field="role" title="{{'BOARD.ROLE' | translate}}" width="100"></kendo-grid-column>
          <kendo-grid-column field="receive_update" title="{{'BOARD.RECEIVE_UPDATES' | translate}}" width="100">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-switch
                  [(ngModel)]="dataItem.receive_update"
                  (valueChange)="toggleReceiveUpdates($event, dataItem.id)"
                ></kendo-switch>
              </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="actions" width="80" title="" class="activity_button_cell" [sortable]="false">
                <ng-template class="action_button" kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                    <button (click)="removeBoardUser(dataItem.id)" class="action_btn" color="warn"  mat-raised-button>
                        <i class="material-icons">close</i> {{'GENERAL.REMOVE' | translate}}
                    </button>
                </ng-template>
            </kendo-grid-column>            
</kendo-grid>