<div  class="dialog_form_view">
    <div *ngIf='ready'>
        <form [formGroup]="newTemplateForm">
            <div class="row no-gutters">
                <div class="col-md-12 col-xs-12">
                    <div class="center-block relative_label">
                        <label>{{'BOARD.NAME' | translate}}<span class="required_field">*</span></label>
                        <input class="form-control" maxLength="180" formControlName="name" myAutofocus focus="" required> 
                        <div *ngIf="newTemplateFormErrors.name" class="alert alert-danger">
                            {{ newTemplateFormErrors.name }}
                        </div>                                                   
                    </div>
                    <div *ngIf="!is_template && !temp_id" class="center-block relative_label">
                        <label>{{'BOARD.TEMPLATE' | translate}}</label>
                        <kendo-dropdownlist
                            class="form-control"
                            [data]="template_list"                            
                            [filterable]="false"
                            [textField]="'name'"
                            [valueField]="'id'"
                            formControlName="temp_id"
                            [valuePrimitive]="true">
                        </kendo-dropdownlist>                                                                           
                    </div>                    
                    <div *ngIf="!is_template && !temp_id && attr_title" class="center-block relative_label">
                        <label>{{ attr_title }}<span class="required_field">*</span></label>
                        <kendo-dropdownlist
                            class="form-control"
                            [data]="attr_list"                            
                            [filterable]="true"
                            [textField]="'name'"
                            [valueField]="'id'"
                            formControlName="attr_id"
                            [valuePrimitive]="true"
                            (filterChange)="attrFilter($event)">
                        </kendo-dropdownlist>                                                                           
                    </div>                                        
                </div>                
            </div>
            <div class="dialog_form_button_row">                    
                <button class="dialog_form_button_row_first" kendoButton type="button"  [disabled]="newTemplateForm.invalid || newTemplateFormSubmitted" (click)="onNewTemplateFormSubmit()" [primary]="true">
                    <span *ngIf="newTemplateFormSubmitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
                    <span *ngIf="!temp_id" style="padding: 0 3px">{{'GENERAL.CREATE' | translate}}</span>
                    <span *ngIf="temp_id" style="padding: 0 3px">{{'GENERAL.SAVE' | translate}}</span>
                </button>                   
                <button  kendoButton type="button" (click)="closeDialog()">{{'GENERAL.CANCEL' | translate}}</button>                        
            </div>             
        </form>
    </div>
    <div *ngIf='!ready' style="text-align: center; min-height: 80px;">
        <img src="assets/images/board_loader2.gif" alt="mask" />
    </div>
</div>