<div class="pos_relative" [class.board_readonly_mode]="readonly_mode">
    <div *ngIf="main_templates_loader" class="main_templates_loader"><img src="assets/images/board_loader2.gif" alt="mask" /></div> 
    <div class="templates_readonly_mode_mask"></div> 
    <kendo-splitter [orientation]="orientation" style="min-height: 380px;">        
        <kendo-splitter-pane size="15%" min="15%" max="20%" style="background-color: #FFFFFF;">
            <div class="card-header bg-light board-header">
                <div class="row justify-content-between align-items-center">
                    <h2 class="mb-1 mb-md-0">{{ def_title }}</h2>
                    <kendo-dropdownlist  style="width: 94px;" (valueChange)="statusChange($event)" [data]="statusList" [valuePrimitive]="true" [textField]="'name'" [valueField]="'id'" [(ngModel)]="status_id" *ngIf="!is_template && globalDataService.current_user && globalDataService.current_user.type >= 90"></kendo-dropdownlist>               
                </div>
            </div>            
            <div class="row justify-content-between align-items-center no-gutters">
                <div *showItDevice="['mobile']" class="col-sm-12">
                    <div  class="boards_list_search_panel">
                    <kendo-combobox
                        [data]="board_templates"
                        [textField]="'name'"
                        [valueField]="'id'"
                        [filterable]="true"
                        [(ngModel)]="board_id"
                        [valuePrimitive]="true"
                        style="width: 100%"
                        (filterChange)="filterBoardSelect($event)"
                        (valueChange)="selectBoard($event)"
                        [placeholder]="select_placeholder"
                    >
                    </kendo-combobox>
                    </div>
                    <button *ngIf="globalDataService.current_user && (globalDataService.current_user.type >= 90 || (globalDataService.current_user.allow_new_board && !is_template))" class="add_new_board_template" kendoButton (click)="newBoardTemplate()" [icon]="'plus'" [look]="'flat'">{{ create_title }}</button>
                </div>
                <div *showItDevice="['desktop','tablet']" class="col-sm-12">
                    <!--<button *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 90" class="add_new_board_template" kendoButton (click)="newBoardTemplate()" [icon]="'plus'" [look]="'flat'">{{ create_title }}</button>-->
                    <div class="boards_list_search_panel">
                        <input class="form-control" (keyup)="searchBoardKey($event)" [(ngModel)]="searchBoardText" [placeholder]="search_placeholder" />
                        <span class="k-icon k-i-search"></span>
                    </div>                    
                    <div *ngIf="templates_loader" class="templates_loader"><img src="assets/images/board_loader2.gif" alt="mask" /></div>
                    <ul *ngIf="board_templates" class="board_templates_wrap">
                        <div #boardTemplatesStart></div>
                        <li class="board_templates_item" *ngFor="let temp of board_templates" id="board_item_{{temp.id}}">
                            <a class="board_templates_item_box" [routerLink]="'/' + slug + '/' + temp['id']" routerLinkActive="board_templates_item_box_selected" [routerLinkActiveOptions]= "{exact: false}">
                                <div class="board_templates_item_box_details">{{ temp.name }}</div>                        
                            </a>    
                            <div *ngIf="is_template && globalDataService.current_user && globalDataService.current_user.type >= 90" class="board_templates_item_box_menu">
                                <div class="board_templates_item_box_menu_bg"></div>
                                <div class="board_templates_item_box_menu_btns">
                                    <span (click)="editTemp(temp.id)" class="k-icon k-i-pencil"></span>
                                    <span (click)="copyTemp(temp.id, 1, '')" class="k-icon k-i-copy"></span>                                    
                                </div>
                            </div>
                            <div *ngIf="!is_template && !temp.fav" class="board_templates_item_box_menu board_templates_item_box_menu2">
                                <div class="board_templates_item_box_menu_bg"></div>
                                <div class="board_templates_item_box_menu_btns" matTooltip="{{ 'BOARD.ADD_TO_FAVORITE' | translate }}" [matTooltipPosition]="'right'">
                                    <span (click)="toggleFav(temp.id, 1)" class="k-icon k-i-star-outline"></span>                                  
                                </div>
                            </div> 
                            <div *ngIf="!is_template && temp.fav" class="board_templates_item_fav">
                                <span (click)="toggleFav(temp.id, -1)" class="k-icon k-i-star"></span> 
                            </div>                           

                            
                        </li> 
                        <button *ngIf="globalDataService.current_user && (globalDataService.current_user.type >= 90 || (globalDataService.current_user.allow_new_board && !is_template))" class="add_board_fixed_btn" [matTooltip]="create_title" mat-fab mat-raised-button (click)="newBoardTemplate()" color="accent"><mat-icon>add</mat-icon></button>                                               
                    </ul>
                </div>
            </div>            
            
        </kendo-splitter-pane>

        <kendo-splitter-pane>

            <div class="card-header bg-light  board-header">
                <div class="row justify-content-between align-items-center">
                    <div class="col-10">
                        <h3 class="mb-1 mb-md-0">{{ sub_title }}</h3>
                        <h1 class="mb-1 mb-md-0">{{ title }}</h1>
                    </div>
                    <div *ngIf="globalDataService.current_user && (globalDataService.current_user.type >= 90 || globalDataService.current_user.allow_board_setting)" class="float-right mr-2">
                        <button routerLink="./{{ board_id }}/setting" [hidden]="!board_id || is_template || module != 'board'" matTooltip="{{'BOARD.BOARD_SETTING' | translate}}" [matTooltipPosition]="'below'" mat-icon-button color="primary"><mat-icon>build</mat-icon></button>
                        <button routerLink="./{{ board_id }}" [hidden]="!board_id || is_template || module != 'setting'" matTooltip="{{'BOARD.BACK_TO_BOARD' | translate}}" [matTooltipPosition]="'below'" mat-icon-button color="primary"><mat-icon>arrow_back</mat-icon></button>
                    </div>
                </div>
            </div>            
            
            <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>


        </kendo-splitter-pane>
        <!--<kendo-splitter-pane *showItDevice="['desktop', 'tablet']" size="10%" min="5%" max="20%"></kendo-splitter-pane>-->
    </kendo-splitter>
</div>