.board_loader, .main_templates_loader {position: absolute; width: 100%; height: 100%; z-index: 999; text-align: center; background-color: rgba(255, 255, 255, 0.5)}
.main_templates_loader img {margin-top: 120px;}
.board_loader img {margin-top: 100px;}
.board_workarea {min-width: 820px; min-height: 300px;}
.board_workarea_wrap {padding: 15px 0 5px 15px; overflow-x: auto}
.board_status_column {float: left; width: 260px; margin-right: 10px; min-height: 300px; background-color: #F4F5F7; color: #5e6c84;}
.board_status_column.board_status_column_last {margin-right: 0px !important;}

.board_workarea_wrap.board_workarea_wrap_6_colomns .board_status_column {width: 255px;}
.board_workarea_wrap.board_workarea_wrap_7_colomns .board_status_column {width: 217px;}
.board_workarea_wrap.board_workarea_wrap_8_colomns .board_status_column {width: 189px;}

.board_status_column_wrap {padding: 5px;}
.board_status_column_title {padding: 8px 0px 8px 5px; text-transform: uppercase;}
.board_status_column_add button {width: 100%;}

.board_status_column_list {min-height: 160px; overflow: hidden; display: block;overflow-y: auto; max-height: calc(100vh - 327px);}
/* width */
.board_status_column_list::-webkit-scrollbar {width: 8px;}
 /* Track */
.board_status_column_list::-webkit-scrollbar-track {background: #fff;}
/* Handle */
.board_status_column_list::-webkit-scrollbar-thumb {background: #fff;}
/* Handle on hover */
.board_status_column_list:hover::-webkit-scrollbar-thumb:hover {background: #555;}
/*.board_status_column_list:hover::-webkit-scrollbar-thumb {background: #888;}*/
.board_status_column_list::-webkit-scrollbar-thumb {background: #B5BBC6;}

.board_workarea .board_status_column:first-child .board_status_column_list {min-height: 10px;}

.board_status_column_box {border-radius: 4px; border-bottom: solid 1px #ccc; color: rgba(0, 0, 0, 0.87); display: flex; flex-direction: row;
    align-items: center; justify-content: space-between;  box-sizing: border-box; cursor: pointer;  background: white; font-size: 14px; margin-bottom: 5px; position: relative; }
.board_status_column_box_in {padding: 5px 10px 10px 10px; width: 100%}

.board_status_column_box:hover {background-color: rgb(244, 245, 247);}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {opacity: 0;}
.cdk-drag-animating {transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);}
.board_activity_item_last_row {padding-top: 5px;}
.board_item_user_photo {height: 24px; width: 24px; border-radius: 50%;}
.board_activity_item_date {font-size: 14px;}
.board_activity_item_date div {line-height: 1.1;}
/*.board_activity_control_menu {position: absolute; top: -1px; right: 5px; z-index: 999;};*/
.board_status_column_box:hover .board_activity_control_menu {display: block;}
.board_activity_control_menu .k-button {padding: 0 !important;}
.board_workarea_control {padding: 20px 0px 5px 18px;}
.board_workarea_control_users_item {float: left; margin-right: 1px; border-radius: 50%; padding: 2px; border: 2px solid #fff; cursor: pointer;}
.board_activity_item_summary {color: #172b4d;}
.board_workarea_wrap.board_workarea_wrap_8_colomns .board_activity_item_summary {max-width: 82%;}
.board_activity_item_summary_pref {font-weight: bold;}

.board_activity_item_priority {
    display: inline-block; width: 10px; height: 10px; border-radius: 100%; margin: 0px 4px 0 0;
}

.board_activity_item_type_topic_row {padding-top: 5px;}
.board_activity_item_topic {background-color: #ddd; display: inline-block; padding: 2px 5px; font-weight: 500; font-size: 12px; border-radius: 4px; margin: 3px 0 0px 0;}
.board_activity_item_type {display: inline-block; padding: 0px; font-weight: 500; font-size: 12px; border-radius: 4px; color: #fff;margin: 4px 5px 0px 0px;
    height: 18px; width: 18px; text-align: center; line-height: 16px;
}
.board_activity_item_type span {font-size: 12px;}
.board_activity_item_type_1 {background-color: #4BADE8;}
.board_activity_item_type_2 {background-color: #E5493A;}
.board_activity_item_type_3 {background-color: #9759E4;}
.board_workarea_control_users_item img {width: 36px; height: 36px; border-radius: 50%; cursor: pointer;transition: transform .2s;}
.board_workarea_control_users_item img:hover {transform: scale(1.1);}
.board_workarea_control_users_item.user_photo_selected {border: 2px solid #8D8E8E;}
.board_priority_combo_list_icon {width: 14px; height: 14px; border-radius: 50%; margin-left: 1px;}
.board_activity_item_badges {color: #6b778c; font-size: 12px;}
.board_activity_item_badges .k-icon {font-size: 16px; font-weight: 700;}
.board_activity_item_badge_text {vertical-align: top; padding-left: 4px;}
.board_activity_item_badge_text, .board_activity_item_badge_icon {display:table-cell;}
.add_new_board_template {width: 100%;}

.templates_loader {text-align: center; position: absolute; width: 100%; z-index: 99;}
.board_templates_wrap {flex: 1 1 auto; margin-bottom: 0; overflow-y: auto; overflow-x: hidden; margin: 5px 4px; padding: 0 4px;height:calc(100vh - 222px); }
/* width */
.board_templates_wrap::-webkit-scrollbar {width: 4px;}
 /* Track */
.board_templates_wrap::-webkit-scrollbar-track {background: #fff;}
/* Handle */
.board_templates_wrap::-webkit-scrollbar-thumb {background: #fff;}
/* Handle on hover */
.board_templates_wrap:hover::-webkit-scrollbar-thumb:hover {background: #555; cursor:-webkit-grab;}
/*.board_status_column_list:hover::-webkit-scrollbar-thumb {background: #888;}*/
.board_templates_wrap::-webkit-scrollbar-thumb {background: #fff;}
.board_templates_wrap:hover::-webkit-scrollbar-thumb {background: #B5BBC6;}


.board_templates_item {position: relative;}
.board_templates_item_box {color: #343A40; text-decoration: none; background-color: #fff;  display: block; margin-bottom: 12px; box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); cursor: pointer;}
.board_templates_item_box_details {overflow: hidden; padding: 10px 30px; position: relative; text-align: center; }
.board_templates_item_box_selected {background-color: #8d8e8e; color:#fff;}
.board_templates_item_box_menu {position: absolute; top: 4px; right: 4px; min-width: 60px; min-height: 30px; display: none;}
.board_templates_item_box_menu.board_templates_item_box_menu2 {min-width: 30px; text-align: center;}
.board_templates_item:hover .board_templates_item_box_menu, .board_templates_item_box_menu:hover {display: block;}
.board_templates_item_box_menu_bg {background-color: rgba(0, 0, 0, 0.5); width: 100%; height: 100%; position: absolute; z-index: 2; top:0; right: 0; border-radius: 4px;}
.board_templates_item_box_menu_btns {position: absolute; z-index: 3; top:0; left: 5px; text-align: center; padding: 0 5px;}
.board_templates_item_box_menu.board_templates_item_box_menu2 .board_templates_item_box_menu_btns {padding: 0;}
.board_templates_item_box_menu_btns .k-icon {color: #fff; cursor: pointer; margin: 0 3px;}

.board_templates_item_fav {position: absolute; top: 4px; right: 9px;}
.board_templates_item_fav span {color: #F4B400; font-size: 18px; cursor: pointer;}

.board_item_user_photo_no_photo {width: 24px; height: 24px; letter-spacing: 0.2px; font-family: monospace;  border-radius: 50%; display: inline-block; background-color: #9C27B0 /*#5C6BC0*/; color: #fff; text-align: center; font-size: 14px;}
.board_workarea_control_users_no_photo {width: 36px; height: 36px; letter-spacing: 0.4px; font-family: monospace; line-height: 34px; border-radius: 50%; display: inline-block; background-color: #9C27B0 /*#5C6BC0*/; color: #fff; text-align: center; font-size: 16px;}
.board_workarea_control_users_no_photo22 {width: 32px; height: 32px; line-height: 30px; letter-spacing: 0.6px; font-family: monospace;  border-radius: 50%; display: inline-block; background-color: #9C27B0 /*#5C6BC0*/; color: #fff; text-align: center; font-size: 14px;}
.show_more_users_btn {color: #7A869A; font-weight: 600;}

.board_workarea_control_users_item.more_then_max_count {display: none;}
.show_hidden_users .board_workarea_control_users_item.more_then_max_count {display: block;}

.board_workarea_control_plus_user {width: 36px; height: 36px; line-height: 34px; border-radius: 50%; display: inline-block; background-color: #DFE1E6 /*#5C6BC0*/; color: #fff; text-align: center; font-size: 16px;}
.board_workarea_control_plus_user i {vertical-align: middle; color: #7A869A;}
.board_workarea_control_users_free_search {position: relative; margin-top: 2px;}
.board_workarea_control_users_free_search .k-icon.k-i-search {position: absolute; right: 7px; top: 11px;}
.board_workarea_control_users_free_search input {padding-right: 25px;}

.board_more_users_div {float: left; padding: 1px 2px 1px 2px; color: #ddd; font-size: 20px;}
.board_topic_control_div {float: left; padding: 1px 25px 1px 14px; color: #ddd; font-size: 20px;}
.board_add_filters {float: left; margin-top: 2px;}
.board_topic_control, .board_type_control {width: 150px; display: inline-block; margin-right: 15px;}
.board_topic_control.board_sprint_control {width: 200px;}



.board_setting_status_list_item {position: relative; line-height: 1.5; padding-bottom: 10px;}
.board_setting_status_list_item_yn_btns {width: 100%; text-align: right; position: absolute; top: 42px; right: 10px; z-index: 100;}
.board_setting_status_list_item_yn_btns button {min-width: 40px; padding: 0 6px; line-height: 30px;}

.add_board_fixed_btn {position: absolute; left: 10px; bottom: 15px; opacity: 0.85;}
.filter_board_fixed_btn {position: absolute; right: 10px; bottom: 15px; opacity: 0.85; background-color: #8D8E8E; z-index: 999;}
.boards_list_search_panel {padding: 20px 10px;position: relative;}
.boards_list_search_panel .k-icon.k-i-search {position: absolute; right: 16px; top: 30px;}

@media (max-width: 1280px) { 
    .board_add_filters {float: none; clear: both; padding-top: 5px;}
}

@media (max-width: 767px) {    
    .float_left.mr15px.board_workarea_control_users_free_search {float: none; padding: 0 0 10px 0;}
    .float_left.mr15px.board_workarea_control_users_free_search input {max-width: 98%;}
    .board_status_column {margin-left: 0px;float: none; min-height: 120px; width: 100%}
    .board_workarea {min-width: auto;}
    .board_status_column_list {min-height: 90px; max-height: inherit !important;}
    .board_workarea_control_users_free_search .k-icon.k-i-search {right: 15px;}
    .board_templates_wrap {height: auto;}
  }