    <div class="position-relative">
        <div *ngIf="is_template == 0 && globalDataService.current_user && globalDataService.current_user.id && globalDataService.current_user.id > 0" class="board_mode_button">
            <div *showItDevice="['desktop','tablet']">                
                <span class="board_mode_sort_buttons">
                    <span *ngIf="sorting" class="k-icon k-i-loading" style="color:#fff;font-size: 24px;"></span> 
                    <span style="padding-left: 10px;"> Sort By: </span>
                    <span (click)="clickOnSortByMode(1)" class="board_mode_sort_buttons_item" [class.board_mode_sort_buttons_item_active]="sort_by_mode==1">Summary
                        <span *ngIf="sort_by_mode==1">
                            <span *ngIf="sort_by_dir==1" class="k-icon k-i-sort-asc-sm"></span>
                            <span *ngIf="sort_by_dir==-1" class="k-icon k-i-sort-desc-sm"></span>
                        </span>
                    </span>
                    <span> | </span>
                    <span (click)="clickOnSortByMode(2)" class="board_mode_sort_buttons_item" [class.board_mode_sort_buttons_item_active]="sort_by_mode==2">Date
                        <span *ngIf="sort_by_mode==2">
                            <span *ngIf="sort_by_dir==1" class="k-icon k-i-sort-asc-sm"></span>
                            <span *ngIf="sort_by_dir==-1" class="k-icon k-i-sort-desc-sm"></span>
                        </span>                          
                    </span>
                    <span> | </span>
                    <span (click)="clickOnSortByMode(3)" class="board_mode_sort_buttons_item" [class.board_mode_sort_buttons_item_active]="sort_by_mode==3">ID
                        <span *ngIf="sort_by_mode==3">
                            <span *ngIf="sort_by_dir==1" class="k-icon k-i-sort-asc-sm"></span>
                            <span *ngIf="sort_by_dir==-1" class="k-icon k-i-sort-desc-sm"></span>
                        </span>                        
                    </span>       
                </span>
                <button kendoButton (click)="readonlyModeToggle()"  [icon]="'sort-asc'" ></button>         
            </div>

        </div>
        <div *ngIf="board_loader" class="board_loader"><img src="assets/images/board_loader2.gif" alt="mask" /></div>

                <div class="board_workarea">
                    <div *showItDevice="['mobile']" class="board_status_column_add">
                        <button kendoButton (click)="newActivityToBoard()"  [icon]="'plus'" [look]="'flat'"> {{ 'ACTIVITY.ADD_ACTIVITY' | translate }}</button>
                    </div>      
                    <div *ngIf="!is_template" class="board_workarea_control">
                        <div class="board_workarea_control_users" [class.show_hidden_users]="show_all_users">
                            <div class="float_left mr15px board_workarea_control_users_free_search">
                                <input class="form-control" [value]="search_term" #filterSearchTerm />
                                <span class="k-icon k-i-search"></span>
                            </div>
                            <div *ngFor="let user of users; let i = index" [class.more_then_max_count]="i >= max_show_users" class="board_workarea_control_users_item" (click)="toggleUser(user['id'])" [class.user_photo_selected]="user['selected']">
                                <img *ngIf="user['photo']" [src]="user['photo']" [matTooltip]="user['name']" [matTooltipPosition]="'below'" />
                                <span class="board_workarea_control_users_no_photo bg_{{ user['color'] }}" *ngIf="!user['photo']" [matTooltip]="user['name']" [matTooltipPosition]="'below'" >
                                    {{ user['first_name'].charAt(0) }}{{ user['last_name'].charAt(0) }}
                                </span>
                            </div>
                            <div *ngIf="users && users.length > max_show_users" class="board_workarea_control_users_item">
                                <span *ngIf="!show_all_users" class="board_workarea_control_users_no_photo bg_DFE1E6 show_more_users_btn" (click)="toggleShowMoreUsers()" [matTooltip]="'Show More Users'" [matTooltipPosition]="'below'" >
                                    +{{ users.length - max_show_users }}
                                </span>
                                <span *ngIf="show_all_users" class="board_workarea_control_users_no_photo bg_DFE1E6 show_more_users_btn" (click)="toggleShowMoreUsers()" [matTooltip]="'Hide Users'" [matTooltipPosition]="'below'" >
                                    -{{ users.length - max_show_users }}
                                </span>                                
                            </div>                            
                            <div *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 30 && users && users.length > max_show_users" class="board_more_users_div">
                                <span *showItDevice="['desktop','tablet']">|</span>
                            </div>
                            <div *ngIf="globalDataService.current_user && (globalDataService.current_user.type >= 30 || globalDataService.current_user.allow_board_setting)" class="board_workarea_control_users_item">
                                <span class="board_workarea_control_plus_user" matTooltip="{{'BOARD.ADD_USER' | translate}}" [matTooltipPosition]="'below'" (click)="addUserDialog()">
                                    <i class="material-icons">person_add</i>
                                </span>
                            </div>
                            <div *ngIf="(topic_list && topic_list.length) || (sprint_list && sprint_list.length) || (type_list && type_list.length)" class="board_topic_control_div">|</div>
                            <div class="board_add_filters">
                                <div *ngIf="topic_list && topic_list.length" class="board_topic_control">
                                    <multi-checkbox name="topic_id" defText="{{'ACTIVITY.TOPIC' | translate}}" [options]="topic_list" [hideAllClear]="true" [value]="selected_topics"  (valueChange)="changeTopic($event)" ></multi-checkbox>
                                </div>                               
                                <div *ngIf="type_list && type_list.length" class="board_type_control">
                                    <multi-checkbox name="type_id" defText="{{'ACTIVITY.TYPE' | translate}}" [options]="type_list" [hideAllClear]="true" [value]="selected_types"  (valueChange)="changeType($event)" ></multi-checkbox>
                                </div>
                                <div *ngIf="sprint_list && sprint_list.length" class="board_topic_control board_sprint_control">
                                    <kendo-combobox
                                        [data]="sprint_list"
                                        placeholder="{{'ACTIVITY.SPRINT' | translate}}"
                                        [value]="selected_sprint"
                                        textField="name"
                                        valueField="id"
                                        [valuePrimitive]="true"
                                        class="form-control"
                                        (valueChange)="changeSprint($event)"
                                        >
                                    </kendo-combobox>                                     
                                </div>  
                                <div *ngIf="release_list && release_list.length" class="board_topic_control board_sprint_control">
                                    <kendo-combobox
                                        [data]="release_list"
                                        placeholder="{{'ACTIVITY.RELEASE' | translate}}"
                                        [value]="selected_release"
                                        textField="name"
                                        valueField="id"
                                        [valuePrimitive]="true"
                                        class="form-control"
                                        (valueChange)="changeRelease($event)"
                                        >
                                    </kendo-combobox>                                     
                                </div>                                                                                             
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
  
                    <div style="overflow-x: auto;" cdkDropListGroup>
                        <div *ngIf="status_list" class="board_workarea_wrap board_workarea_wrap_{{ status_list.length }}_colomns" [ngStyle]="{ 'min-width': status_list.length*minWidthOfColumn + 'px' }">
                            <div class="board_status_column" *ngFor="let status of status_list; index as i" [class.board_status_column_last]="i==status_list.length-1 ? 1 : 0">
                            <div class="board_status_column_wrap">
                                <div class="board_status_column_title">
                                    {{status['name']}} <span *ngIf="this['activities_status_' + status['id']].length">({{ this['activities_status_' + status['id']]?.length }})</span>
                                </div>
    
                                <div
                                cdkDropList
                                [cdkDropListDisabled]="!isDragging"
                                [cdkDropListData]="this['activities_status_' + status['id']]"
                                [id]="'board_status_column_' + status['id']"
                                class="board_status_column_list"
                                (cdkDropListDropped)="drop($event)">
                                    
                                        <div (click)="openBoardActivity($event, item['id'], item['prefix'])" class="board_status_column_box" *ngFor="let item of this['activities_status_' + status['id']]" cdkDrag>
                                            <div class="board_status_column_box_in">
                                                <div class="row no-gutters">                                           
                                                    <div class="col-10 board_activity_item_summary">
                                                        <span [matTooltip]="item['priority']['name']" [matTooltipPosition]="'above'" class="board_activity_item_priority priority_color_{{ item['priority']['color'] }}"></span>
                                                        <span class="board_activity_item_summary_pref">({{ item['prefix'] }})</span>
                                                        {{ item['summary'] }}
                                                    </div>
                                                    <div *ngIf="board_item_actions && board_item_actions.length" class="col-auto ml-auto fs--1">
                                                        <kendo-dropdownbutton class="board_activity_control_menu" [popupSettings]="{popupClass: 'board_activity_control_menu_popup', animate: false}" (itemClick)="onBoardActivityControlClick($event, item['id'], item['summary'])" [data]="board_item_actions" [textField]="'name'">
                                                            <span class="k-icon k-i-more-horizontal"></span>   
                                                        </kendo-dropdownbutton>                                                    
                                                    </div>                                            
                                                </div> 
                                                <div class="row no-gutters board_activity_item_type_topic_row">   
                                                    <div [matTooltip]="types_info[item['type']].name" [matTooltipPosition]="'below'"  class="board_activity_item_type board_activity_item_type_{{ item['type'] }}">
                                                        <span class="k-icon {{ types_info[item['type']].icon }}"></span>
                                                    </div>                                        
                                                    <div *ngIf="item['topic']" class="board_activity_item_topic">
                                                        {{ item['topic'] }}
                                                    </div>
                                                </div>                                                  
                                                <div class="row no-gutters board_activity_item_last_row">
                                                    <div class="col-9 text-left board_activity_item_badges">
                                                        <span *ngIf="item['date']" [matTooltip]="item['update']" [matTooltipPosition]="'below'" class="k-icon k-i-clock board_activity_item_badge_icon"></span> <span class="board_activity_item_badge_text">{{ item['date'] }}</span>
                                                        <span *ngIf="!item['date'] && item['update']" class="k-icon k-i-reload board_activity_item_badge_icon"></span> <span *ngIf="!item['date'] && item['update']" class="board_activity_item_badge_text">{{ item['update'] }}</span>
                                                    </div>                                              
                                                    <div class="col-3 text-right">    
                                                        <img [matTooltip]="item['priority']['name']" [matTooltipPosition]="'below'" class="board_priority_combo_list_icon" *ngIf="item['priority2'] && item['priority2']['icon']" [src]="'assets/images/icons/' + item['priority']['icon']"/>
                                                        <img class="board_item_user_photo" [matTooltip]="item['user_name']" [matTooltipPosition]="'below'" *ngIf="item['user_photo']" [src]="item['user_photo']" [alt]="item['user_name']"  />
                                                        <span class="board_item_user_photo_no_photo bg_{{ item['user_color'] }}" [matTooltip]="item['user_name']" [matTooltipPosition]="'below'" *ngIf="!item['user_photo']">
                                                            {{ item['user_first_name'].charAt(0) }}{{ item['user_last_name'].charAt(0) }}
                                                        </span>

                                                    </div>                                               
                                                </div>                                                                                                                                                     
                                            </div>
                                        </div>
                                    
                                </div>
                                                        
                                    
                                <div *ngIf="status['id']==1" class="board_status_column_add">
                                    <button *showItDevice="['desktop','tablet']" kendoButton (click)="newActivityToBoard()"  [icon]="'plus'" [look]="'flat'"></button>
                                </div>
                            </div>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>

    </div>
    