<div  class="dialog_form_view">
    <div *ngIf='ready'>
        <form [formGroup]="newUserForm">
            <div class="row no-gutters">
                <div class="col-md-12 col-xs-12">
                    <div class="center-block relative_label">
                        <label>{{'BOARD.USER' | translate}}<span  class="required_field">*</span></label>
                        <kendo-dropdownlist
                            class="form-control"
                            [data]="user_list"
                            [filterable]="true"
                            [textField]="'name'"
                            [valueField]="'id'"
                            formControlName="user_id"
                            [valuePrimitive]="true"                                                            
                            (filterChange)="userClientFilter($event)">
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                <span class="list_photo_no_photo_design bg_{{ dataItem.color }}" *ngIf="!dataItem?.photo && dataItem?.id">
                                    {{ dataItem?.first_name.charAt(0) }}{{ dataItem?.last_name.charAt(0) }}
                                </span>                                    
                                <img class="assignee_combo_list_photo" *ngIf="dataItem?.photo" [src]="dataItem?.photo "/> {{ dataItem?.name }}                                    
                            </ng-template>                                
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                <span class="list_photo_no_photo_design bg_{{ dataItem.color }}" *ngIf="!dataItem?.photo && dataItem?.id">
                                    {{ dataItem?.first_name.charAt(0) }}{{ dataItem?.last_name.charAt(0) }}
                                </span>
                                <img class="assignee_combo_list_photo" *ngIf="dataItem?.photo" [src]="dataItem?.photo "/> {{ dataItem?.name }}
                                
                            </ng-template>                                
                        </kendo-dropdownlist>  
                        <div *ngIf="newUserFormErrors.user_id" class="alert alert-danger">
                            {{ newUserFormErrors.user_id }}
                        </div>     
                    </div>
      
                    <div class="center-block relative_label">
                        <label>{{'BOARD.ROLE' | translate}}<span class="required_field">*</span></label>
                        <kendo-dropdownlist
                            class="form-control"
                            [data]="role_list"                            
                            [filterable]="false"
                            [textField]="'name'"
                            [valueField]="'id'"
                            formControlName="role"
                            [valuePrimitive]="true">
                        </kendo-dropdownlist> 
                        <div *ngIf="newUserFormErrors.role" class="alert alert-danger">
                            {{ newUserFormErrors.role }}
                        </div>                                                                                                   
                    </div>                                 

                    
                </div>
            </div>
            <div class="dialog_form_button_row">                    
                <button class="dialog_form_button_row_first" kendoButton type="button"  [disabled]="newUserForm.invalid || newUserFormSubmitted" (click)="onNewUserFormSubmit()" [primary]="true">
                    <span *ngIf="newUserFormSubmitted" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
                    <span style="padding: 0 3px">{{'GENERAL.CREATE' | translate}}</span>                    
                </button>                   
                <button  kendoButton type="button" (click)="closeDialog()">{{'GENERAL.CANCEL' | translate}}</button>                        
            </div>             
        </form>
    </div>
    <div *ngIf='!ready' style="text-align: center; min-height: 80px;">
        <img src="assets/images/board_loader2.gif" alt="mask" />
    </div>    
</div>