<div class="pt-4 board_settings_wrap">
    <div class="container-fluid">
        <div class="mb-5">        
            <h3>{{'BOARD.DETAILS' | translate}}</h3>
            <form [formGroup]="boardForm">
                <div class="row">

                    <div class="col-md-2 col-xs-12">
                        <div class="center-block relative_label">
                            <label>{{'BOARD.BOARD_STATUS' | translate}}<span class="required_field">*</span></label>
                            <select class="form-control"  formControlName="status_id" (change)="autoSave('status_id', $event)">
                                <option value="1">{{'BOARD.STATUS_ACTIVE' | translate}}</option>
                                <option value="2">{{'BOARD.STATUS_ARCHIVE' | translate}}</option>
                                <option value="3">{{'BOARD.STATUS_DELETE' | translate}}</option>
                            </select>
                        </div>
                    </div> 

                    <div class="col-md-2 col-xs-12">
                        <div class="center-block relative_label">
                            <label>{{'BOARD.NAME' | translate}}<span class="required_field">*</span></label>
                            <input class="form-control" maxLength="180" formControlName="name" myAutofocus focus="" required (change)="autoSave('name', $event)"> 
                            <div *ngIf="boardFormErrors.name" class="alert alert-danger">
                                {{ boardFormErrors.name }}
                            </div>                                                   

                        </div>
                    </div>
                    <div class="col-md-2 col-xs-12">
                        <div class="center-block relative_label">
                            <label>{{'BOARD.KEY' | translate}}<span class="required_field">*</span></label>
                            <input class="form-control" maxLength="10" formControlName="board_key" myAutofocus focus="" required (change)="autoSave('board_key', $event)"> 
                            <div *ngIf="boardFormErrors.board_key" class="alert alert-danger">
                                {{ boardFormErrors.board_key }}
                            </div>                                                   

                        </div>
                    </div>  
                    
                    <div class="col-md-2 col-xs-12">
                        <div class="center-block relative_label">
                            <label>{{'BOARD.ACTIVITY_DIRECTION' | translate}}</label>
                            <select class="form-control"  formControlName="is_rtl" (change)="autoSave('is_rtl', $event)">
                                <option value="0">LTR</option>
                                <option value="1">RTL</option>
                            </select>
                                                                     

                        </div>
                    </div>    
                    
                    <div class="col-md-2 col-xs-12">
                        <div class="center-block relative_label">
                            <label>{{'BOARD.HIDDEN_ON_HOME' | translate}}</label>
                            <multi-checkbox *ngIf="loaded" formControlName="hide_in_table" (valueChange)="autoSave('hide_in_table', $event)" [defText]="'Hidden status'" [options]="status_list"></multi-checkbox>                                                                     
                        </div>
                    </div>                        
                    
                </div>
            </form>

        </div>

        <div class="mt-5 mb-5">
            <h3><label>{{'BOARD.STATUS_LIST' | translate}}</label></h3>
            <div *ngIf="status_list" class="row board_setting_status_list">
                <div *ngFor="let status of status_list; let idx = index" class="board_setting_status_list_item col-md-2 col-xs-6">
                    <button kendoButton [look]="'flat'" (click)="beginStatusEdit(status.id)" *ngIf="!status.edit">{{ status.name }}</button>
                    <input type="text" *ngIf="status.edit" class="form-control" [(ngModel)]="status.name" required autoFocus />
                    <div *ngIf="status.edit" class="board_setting_status_list_item_yn_btns">
                        <button mat-flat-button (click)="saveStatusEdit(status.id)" matTooltip="{{'GENERAL.OK' | translate}}" [matTooltipPosition]="'below'"><mat-icon>check</mat-icon></button>
                        <button mat-flat-button (click)="cancelStatusEdit(status.id)" matTooltip="{{'GENERAL.CANCEL' | translate}}" [matTooltipPosition]="'below'"><mat-icon>close</mat-icon></button>
                        <button *ngIf="status_list.length == idx+1 && idx>=3" mat-icon-button (click)="removeStatus(status.id)" color="warn" matTooltip="{{'BOARD.REMOVE_STATUS' | translate}}" [matTooltipPosition]="'below'"><mat-icon>delete_forever</mat-icon></button>                        
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <button *ngIf="status_list.length < max_status_count && !new_status_creating" matTooltip="{{'BOARD.ADD_STATUS' | translate}}" [matTooltipPosition]="'below'" kendoButton (click)="newStatusBoard()" [icon]="'plus'" [look]="'flat'"></button>
                    <img *ngIf="new_status_creating" src="assets/images/pipe_loader_.gif" alt="creating"/>
                </div>
            </div>
        </div>        


        <div class="mb-5">
            <h3>{{'BOARD.USERS' | translate}}</h3>
            <board-user-grid [board_id]="board_id"></board-user-grid>
        </div>

        <div *ngIf="false" class="mb-5">
            <div class="row no-gutters">
                <div class="col-md-6 col-xs-12">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-sm-auto">
                            <h3 class="mb-1 mb-md-0">{{'BOARD.SPRINTS' | translate}}</h3>
                        </div>
                        <div class="col-sm-auto fs--1">
                            <button color="accent"  mat-raised-button (click)="addSprintClick()">{{'BOARD.ADD_SPRINT' | translate}}</button>
                        </div>
                    </div>

                    <board-sprint-grid [board_id]="board_id"></board-sprint-grid>
                </div>
            </div>            
        </div> 

        <div class="mb-5">
            <div class="row no-gutters">
                <div class="col-md-6 col-xs-12">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-sm-auto">
                            <h3 class="mb-1 mb-md-0">{{'BOARD.TOPICS' | translate}}</h3>
                        </div>
                        <div class="col-sm-auto fs--1">
                            <button color="accent"  mat-raised-button (click)="addTopicClick()">{{'BOARD.ADD_TOPIC' | translate}}</button>
                        </div>
                    </div>

                    <board-topic-grid [board_id]="board_id"></board-topic-grid>
                </div>
            </div>            
        </div>        

    </div>
</div>