<div class="card-header bg-light">
        <div class="row justify-content-between align-items-center">
            <div class="col-sm-auto">
                <h1 class="mb-1 mb-md-0">{{ title }}</h1>
            </div>
        </div>
    </div>
    <div style="position: relative;">
        <div *ngIf="board_loader" class="board_loader"><img src="assets/images/board_loader2.gif" alt="mask" /></div>
        <kendo-splitter style="min-height: 380px;">
            
            <kendo-splitter-pane size="15%" min="10%" max="20%">
                
            </kendo-splitter-pane>
    
            <kendo-splitter-pane min="770px">
                <div class="board_workarea">
    
                    <div class="board_workarea_control">
                        <div *ngIf="users" class="board_workarea_control_users">
                            <div *ngFor="let user of users" class="board_workarea_control_users_item" (click)="toggleUser(user['id'])" [class.user_photo_selected]="user['selected']"><img [src]="user['photo']" [matTooltip]="user['name']" [matTooltipPosition]="'below'" /></div>
                            <div class="clr"></div>
                        </div>
                    </div>
    
                    <div cdkDropListGroup>
                        <div *ngIf="status_list" class="board_workarea_wrap">
                            <div class="board_status_column" *ngFor="let status of status_list">
                            <div class="board_status_column_wrap">
                                <div class="board_status_column_title">
                                    {{status['name']}} <span *ngIf="this['activities_status_' + status['id']].length">({{ this['activities_status_' + status['id']]?.length }})</span>
                                </div>
    
                                <div
                                cdkDropList
                                [cdkDropListData]="this['activities_status_' + status['id']]"
                                [id]="'board_status_column_' + status['id']"
                                class="board_status_column_list"
                                (cdkDropListDropped)="drop($event)">
                                    
                                        <div (click)="openBoardActivity($event, item['id'])" class="board_status_column_box" *ngFor="let item of this['activities_status_' + status['id']]" cdkDrag>
                                            <div class="board_status_column_box_in">
                                                <div class="row no-gutters">                                           
                                                    <div class="col-10 board_activity_item_summary">
                                                        {{item['summary']}}
                                                    </div>
                                                    <div class="col-2 text-right">
                                                        <kendo-dropdownbutton class="board_activity_control_menu" [popupSettings]="{popupClass: 'board_activity_control_menu_popup', animate: false}" (itemClick)="onBoardActivityControlClick($event)" [data]="board_item_actions" [textField]="'name'">
                                                            <span class="k-icon k-i-more-horizontal"></span>   
                                                        </kendo-dropdownbutton>                                                    
                                                    </div>                                            
                                                </div>   
                                                <div class="row no-gutters board_activity_item_last_row">
                                                    <div class="col-9 text-left board_activity_item_badges">
                                                        <span class="k-icon k-i-clock board_activity_item_badge_icon"></span> <span class="board_activity_item_badge_text">{{ item['date'] }}</span>
                                                    </div>                                              
                                                    <div class="col-3 text-right">    
                                                        <img [matTooltip]="item['priority']['name']" [matTooltipPosition]="'below'" class="board_priority_combo_list_icon" *ngIf="item['priority'] && item['priority']['icon']" [src]="'assets/images/icons/' + item['priority']['icon']"/>
                                                        <img class="board_item_user_photo" [matTooltip]="item['user_name']" [matTooltipPosition]="'below'" *ngIf="item['user_photo']" [src]="item['user_photo']" [alt]="item['user_name']"  />
                                                    </div>                                               
                                                </div>                                                                                                                                                     
                                            </div>
                                        </div>
                                    
                                </div>
                                                        
    
                                <div *ngIf="status['id']==1" class="board_status_column_add">
                                    <button kendoButton (click)="newActivityToBoard()"  [icon]="'plus'" [look]="'flat'"></button>
                                </div>
                            </div>
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
                </div>
            </kendo-splitter-pane>
    
            <kendo-splitter-pane size="15%" min="10%" max="20%">
                
            </kendo-splitter-pane>
        </kendo-splitter>
    </div>
    