<div class="pos_relative">

    <div style="padding: 20px; font-size: 18px; font-weight: bold;">
        {{message}}
    </div>

    <div class="form_button_row pos_relative" style="margin:18px 0 0 0; text-align: center;">
        <button kendoButton type="button" class="form-k-button" (click)="close()">סגירה</button>
    </div>    
</div>