<div class="container-fluid">
    <div class="row pt-3 pb-2 pl-2 justify-content-between align-items-center">
        <div class="col-sm-auto">
            <h1>Time</h1>
        </div>
        <div class="col-sm-auto fs--1">
            <button class="time_date_today" (click)="clickNav(0)" kendoButton>Today</button>
            <button class="time_date_prev" (click)="clickNav(-1)" kendoButton [icon]="'arrow-60-left'"></button>
            <button class="time_date_next mr-1" (click)="clickNav(1)" kendoButton [icon]="'arrow-60-right'"></button>
            <kendo-datepicker (valueChange)="dateChange($event, 'date')" [format]="date_format" [(value)]="form_filter.date"></kendo-datepicker>
            
        </div>
    </div>    
</div>
<div class="pt-4">
    <div class="container-fluid">
        <time-grid *ngIf="pageLoaded" 
            [def_take]="def_take" 
            [filters]="selected_filter" 
            [run_filter]="run_filter"
            [def_skip]="def_skip"  
            [def_sort]="def_sort"   
            [board_list]="board_list"
            [from_page]="'time'"
            (emitState)="stateGrid($event)"
            >
        </time-grid>
    </div>
</div>