<div *ngIf="pageLoaded" class="time_report_stat" [class.open_time_stat]="open_time_stat">
    <div class="time_report_stat_content" [class.open_time_stat]="open_time_stat">
        <div class="time_report_stat_content_head">
            Statistics
        </div>
        <div class="time_report_stat_content_in">
            <div class="time_report_stat_content_grid">
                <div *ngIf="!stat_loaded" class="time_report_stat_loading">                
                    <img src="assets/images/messages_loader_.gif" height="36" width="36">
                </div>

                <ul *ngIf="stat_loaded" class="list-group time_report_stat_content_grid_rows">
                    <li *ngFor="let stat_row of stat_rows" class="time_report_stat_content_grid_row list-group-item d-flex justify-content-between align-items-center">
                        {{stat_row.name}}
                        <span class="badge  badge-pill">{{stat_row.sum}}</span>
                    </li>
                    <li class="time_report_stat_content_grid_row list-group-item d-flex justify-content-between align-items-center">
                        <strong>Total hours</strong>
                        <span class="badge badge-primary badge-pill">{{stat_total}}</span>
                    </li>                    
                </ul>                
            </div>


        </div>
    </div>
    <div class="time_report_stat_btn">
        <button mat-raised-button color="primary" (click)="toggleStat()">
            <i *ngIf="!open_time_stat" class="material-icons">trending_up</i>
            <i *ngIf="open_time_stat" class="material-icons">close</i>
        </button>
    </div>    
    <div class="clr"></div>
</div>
<div class="container-fluid">
    <div class="pt-3 pb-2 pl-1">
        <h1>Reported Hours</h1>
    </div>    
</div>
<form *ngIf="filterForm" [formGroup]="filterForm">
    <div class="container-fluid">
        <div class="pl-0">
            <div class="row no-gutters pb-1 ">
                <div class="float-left mr-2 mb-2">
                    <kendo-datepicker
                        [bottomView]="'year'"
                        [topView]="'decade'"
                        [format]="'MMMM yyyy'"
                        formControlName="from_date"
                        placeholder="From"
                    ></kendo-datepicker>                    
               <!--    <kendo-daterange>
                        <label>
                            <kendo-dateinput formControlName="from_date" [format]="date_format" placeholder="From" kendoDateRangeStartInput ></kendo-dateinput>
                        </label>
                        <label>
                            <span style="padding: 0 7px;"> - </span>
                            <kendo-dateinput formControlName="to_date" [format]="date_format" placeholder="To" kendoDateRangeEndInput ></kendo-dateinput>
                        </label>
                        <kendo-daterange-popup [animate]="false"></kendo-daterange-popup>
                    </kendo-daterange> -->
                </div>
                <div class="float-left mr-2 mb-2">-</div>
                <div class="float-left mr-3 mb-2">
                        <kendo-datepicker
                        [bottomView]="'year'"
                        [topView]="'decade'"
                        [format]="'MMMM yyyy'"
                        formControlName="to_date"
                        placeholder="To"
                    ></kendo-datepicker>   
                </div>
                <div class="col-md-1 col1_5 col-xs-12 mr-3 mb-2">
                    <input class="form-control" type="text" formControlName="searchTerm" [placeholder]="search_placeholder" />
                </div>
                <div *ngIf="pageLoaded" class="col-md-1 col1_5 col-xs-12 mr-3 mb-2">
                    <multi-checkbox *ngIf="customer_list" formControlName="cust_ids" [defText]="'Customer'" [options]="customer_list"></multi-checkbox>
                </div>                
                <div *ngIf="pageLoaded" class="col-md-1 col1_5 col-xs-12 mr-3 mb-2">
                    <multi-checkbox *ngIf="board_list" formControlName="board_ids" [defText]="'Board'" [options]="board_list"></multi-checkbox>
                </div>
                <div *ngIf="pageLoaded && employee_list && employee_list.length" class="col-md-1 col1_5 col-xs-12 mr-4 mb-2">
                    <multi-checkbox *ngIf="employee_list && employee_list.length" formControlName="employee_ids" [defText]="'Employee'" [options]="employee_list"></multi-checkbox>
                </div>  
                <div class="float-left mr-2">
                    <button (click)="runFilters()" color="primary" mat-raised-button ><span> Submit</span></button>
                </div>        
                <div class="float-left">
                    <button (click)="resetFilter()" mat-raised-button ><span> Reset</span></button>
                </div>                  
            </div>
        
        </div>
    </div>
</form>
<div class="pt-4">
    <div class="container-fluid">
        <time-grid *ngIf="pageLoaded" 
            [def_take]="def_take" 
            [filters]="selected_filter" 
            [run_filter]="run_filter"
            [scrollable]="'scrollable'"
            [def_skip]="def_skip"  
            [def_sort]="def_sort"   
            [board_list]="board_list"
            (emitState)="stateGrid($event)"
            >
        </time-grid>
    </div>
</div>