<!--
(cellClick)="cellClickHandler($event)"
           (cellClose)="cellCloseHandler($event)"             
           [data]="view | async"
-->
<kendo-grid
        #timeGridInstance="kendoGrid"
        [selectable]="{enabled: true, checkboxOnly: true }"
        [kendoGridSelectBy]="mySelectionKey"
        [selectedKeys]="mySelection"   
        
        [data]="gridData"
        [loading]="view['loading']"
      
        [pageSize]="state.take"
        [skip]="state.skip"
        [sort]="state.sort"
        [sortable]="{
          allowUnsort: true,
          mode: 'single'
        }"
        [pageable]="getPaggebleSetting()"
        [scrollable]="scrollable"
        [group]="state.group"
        [groupable]="groupable ? groupableSettings : false"
        (dataStateChange)="dataStateChange($event)"
        (edit)="editHandler($event)"
        (add)="addHandler($event)"
        (cancel)="cancelHandler($event)"
        (save)="saveHandler($event)"
        (remove)="removeHandler($event)"
        (cellClick)="onCellClick($event)"
        >  
          <kendo-grid-messages noRecords="{{'GENERAL.GRID_NO_RECORDS' | translate}}" pagerItemsPerPage="{{'GENERAL.GRID_PAGER_ITEMS_PER_PAGE' | translate}}" pagerOf="{{'GENERAL.GRID_PAGER_OF' | translate}}" pagerItems="{{'GENERAL.GRID_PAGER_ITEMS' | translate}}"></kendo-grid-messages>
          <ng-template kendoGridToolbarTemplate>
            <button *ngIf="from_page != 'time-report'" mat-button kendoGridAddCommand mat-raised-button color="accent">
              <span class="k-icon k-i-plus-outline"></span> <span> Add item</span>
            </button>
            <button *ngIf="from_page == 'time-report'" mat-button mat-raised-button color="accent" (click)="exportToExcel(timeGridInstance)">
              <span class="k-icon k-i-excel"></span> <span> Excel</span>
            </button>
            <select [(ngModel)]="selectedGroupBy" *ngIf="from_page == 'time-report'" class="form-control" (change)="groupByFieldSelect($event.target.value)" style="display: inline-block; width: auto; margin-left: 10px;">
              <option value="">Choose Group By</option>
              <option value="employee">Employee</option>
              <option value="board_id">Board</option>
              <option value="act_key">Task</option>
            </select>
          </ng-template>  
          <kendo-grid-column *ngIf="from_page == 'time-report'" field="customer" width="100" title="Customer"></kendo-grid-column>
          <kendo-grid-column *ngIf="from_page == 'time-report'" field="board_id" width="120" title="Board">
            <ng-template kendoGridCellTemplate let-dataItem>
              <a *ngIf="dataItem.board_id && dataItem.board_sid != 4" [routerLink]="['/boards/', dataItem.board_source_id]" class="see_item_link_cell">{{dataItem.board_id}}</a>
              <span *ngIf="dataItem.board_id && dataItem.board_sid == 4">{{dataItem.board_id}}</span>
            </ng-template>             
          </kendo-grid-column>
          <kendo-grid-column *ngIf="from_page == 'time-report'" field="topic_id" width="100" title="Topic"></kendo-grid-column>
          <kendo-grid-column *ngIf="!board_id && from_page != 'time-report'" field="board_id" editor="numeric"  width="120" title="Board" [class]="{'pointer_td': true}">
            <ng-template kendoGridCellTemplate let-dataItem>
              <a *ngIf="dataItem.board_id && dataItem.board_sid != 4" [routerLink]="['/boards/', dataItem.board_source_id]" class="see_item_link_cell">{{board(dataItem.board_id)?.name}}</a>
              <span *ngIf="dataItem.board_id && dataItem.board_sid == 4">{{board(dataItem.board_id)?.name}}</span>
            </ng-template>            
            <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-rowIndex="rowIndex" let-column="column" let-formGroup="formGroup" let-isNew="isNew">                                                            
                <kendo-combobox 
                [data]="board_list"
                textField="name"
                valueField="id"
                [valuePrimitive]="true"
                [filterable]="true"
                [formControl]="formGroup.get(column.field)"
                (valueChange)="selectBoard($event, formGroup, dataItem, isNew)"
                (filterChange)="filterBoards($event)"
                >
                </kendo-combobox>                    
            </ng-template>
          </kendo-grid-column>          
          <kendo-grid-column *ngIf="from_page == 'time-report' && globalDataService.current_user && globalDataService.current_user.type >= 90" field="employee" width="100" title="Employee"></kendo-grid-column>
          <kendo-grid-column *ngIf="from_page == 'time-report'" field="act_key" [sortable]="true"  width="100" title="Task Key" [class]="{'pointer_td': true}" [style]="{'max-width': '100px'}"></kendo-grid-column>
          <kendo-grid-column *ngIf="from_page == 'time-report'" field="act_id" [sortable]="true"  width="160" title="Task" [class]="{'pointer_td': true}" [style]="{'max-width': '140px'}"></kendo-grid-column>          
          <kendo-grid-column *ngIf="from_page == 'time-report'" field="type" width="100" title="Task Type"></kendo-grid-column>
          <kendo-grid-column *ngIf="!act_id && from_page != 'time-report'" field="act_id" editor="numeric"  [sortable]="true"  width="160" title="Task" [style]="{'max-width': '140px'}" [class]="{'pointer_td': true}">
            <ng-template *ngIf="from_page != 'time-report'" kendoGridCellTemplate let-dataItem>
              {{task(dataItem)}}
            </ng-template>       
            <ng-template kendoGridEditTemplate let-rowIndex="rowIndex" let-dataItem="dataItem" let-column="column" let-formGroup="formGroup" let-isNew="isNew">                                                            
                <kendo-dropdownlist 
                #taskDropDownInstance="kendoDropDownList"
                style="max-width: 300px;"
                [filterable]="true"
                (filterChange)="filterTasks($event)"
                [data]="isNew ? task_list : dataItem?.task_list"
                textField="summary"
                valueField="id"
                [valuePrimitive]="true"
                [formControl]="formGroup.get(column.field)">
                    <ng-template kendoDropDownListValueTemplate let-dataItem>
                        <span class="time_drop_list_item"><span class="bold" *ngIf="dataItem?.prefix">({{ dataItem?.prefix }})</span> {{ dataItem?.summary }}</span>
                    </ng-template>                                
                    <ng-template kendoDropDownListItemTemplate let-dataItem>
                        <span class="time_drop_list_item"><span class="bold" *ngIf="dataItem?.prefix">({{ dataItem?.prefix }})</span> {{ dataItem?.summary }}</span>                      
                    </ng-template>

                </kendo-dropdownlist>                    
            </ng-template>
          </kendo-grid-column>           

            <kendo-grid-column *ngIf="from_page != 'time-report'" field="due_date" title="Date" width="70">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem.due_date ? intl.formatDate(dataItem.due_date, 'dd/MM/yyyy') : '' }}
                </ng-template>               
                <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">                    
                    <kendo-datepicker [formControl]="formGroup.get(column.field)" [format]="'dd/MM/yyyy'" ></kendo-datepicker>                                      
                </ng-template>               
            </kendo-grid-column>

            <kendo-grid-column *ngIf="from_page == 'time-report'" field="due_date" title="Date" width="70">
              <ng-template kendoGridCellTemplate let-dataItem>
                {{ dataItem.due_date_str ? intl.formatDate(dataItem.due_date_str, 'dd/MM/yyyy') : '' }}
              </ng-template>                            
          </kendo-grid-column>            


          <kendo-grid-column field="duration" editor="numeric"  width="40" title="Hours">
            <ng-template *ngIf="groupable" kendoGridGroupFooterTemplate let-group="group" let-aggregates>
              <span>
                  {{ aggregates.duration.sum }}
              </span>
            </ng-template>             
            <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">                                                            
                <kendo-combobox 
                [data]="hours_list"
                textField="text"
                valueField="value"
                [valuePrimitive]="true"
                [formControl]="formGroup.get(column.field)">
                </kendo-combobox>                    
            </ng-template>
            <ng-template *ngIf="from_page != 'time-report'" kendoGridFooterTemplate let-column let-columnIndex="columnIndex">
                Total: {{sumHours}}
            </ng-template>             
          </kendo-grid-column>
          <kendo-grid-column field="description" editor="textarea" width="100" title="Description">
            <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">                    
                <textarea class="form-control" [formControl]="formGroup.get(column.field)" maxlength="200" ></textarea>                                      
            </ng-template>              
          </kendo-grid-column>			                  
          
          <kendo-grid-command-column *ngIf="from_page != 'time-report'" title="Command" width="30">
                <ng-template kendoGridCellTemplate let-isNew="isNew">

                    <button mat-button kendoGridEditCommand mat-raised-button color="accent">
                      <span *ngIf="from_page == 'time'" class="k-icon k-i-edit"></span>
                      <span *ngIf="from_page != 'time'" class="k-icon k-i-edit" [matTooltip]="'Edit'" [matTooltipPosition]="'above'"></span>     
                      <span *ngIf="from_page == 'time'"> Edit</span>
                    </button>                    

                    <button mat-button kendoGridRemoveCommand mat-raised-button color="warn">
                      <span *ngIf="from_page == 'time'" class="k-icon k-i-delete"></span>
                      <span *ngIf="from_page != 'time'" class="k-icon k-i-delete" [matTooltip]="'Delete'" [matTooltipPosition]="'above'"></span>                        
                      <span *ngIf="from_page == 'time'"> Delete</span>
                    </button>

                    <button kendoGridSaveCommand [disabled]="formGroup?.invalid" mat-button mat-raised-button color="accent">
                      <span *ngIf="from_page == 'time'" class="k-icon k-i-save"></span>
                      <span *ngIf="from_page != 'time'" class="k-icon k-i-save" [matTooltip]="'Save'" [matTooltipPosition]="'above'"></span>                      
                      <span *ngIf="from_page == 'time'"> Save</span>
                    </button>
                    <button kendoGridCancelCommand mat-button mat-raised-button >
                      <span *ngIf="from_page == 'time'" class="k-icon k-i-cancel"></span>
                      <span *ngIf="from_page != 'time'" class="k-icon k-i-cancel" [matTooltip]="'Cancel'" [matTooltipPosition]="'above'"></span>                       
                      <span *ngIf="from_page == 'time'"> Cancel</span>
                    </button>
                </ng-template>
            </kendo-grid-command-column>  
            <kendo-grid-excel [fileName]="excelFN">
              <kendo-excelexport-column field="customer" title="Customer" [width]="160"></kendo-excelexport-column>
              <kendo-excelexport-column field="board_id" title="Board" [width]="160"></kendo-excelexport-column>
              <kendo-excelexport-column field="topic_id" title="Topic" [width]="120"></kendo-excelexport-column>
              <kendo-excelexport-column *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 90" field="employee" [width]="160" title="Employee"></kendo-excelexport-column>
              <kendo-excelexport-column  field="act_key" [width]="110" title="Task Key" ></kendo-excelexport-column>
              <kendo-excelexport-column  field="act_id" [width]="310" title="Task" ></kendo-excelexport-column>
              <kendo-excelexport-column  field="type" [width]="120" title="Task Type" ></kendo-excelexport-column>
              <kendo-excelexport-column  field="due_date_str" title="Date" [width]="100"></kendo-excelexport-column>  
              <kendo-excelexport-column field="duration" editor="numeric"  [width]="90" title="Hours"></kendo-excelexport-column>
              <kendo-excelexport-column field="description" [width]="350" title="Description"></kendo-excelexport-column>
            </kendo-grid-excel>        
</kendo-grid>
