@import "~@progress/kendo-theme-bootstrap/scss/all";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/scss/bootstrap";
body {padding-top: 54px;background-color: #f1f2f7;}
.k-editor-sandbox > .k-content *, .k-editor-sandbox .k-editor-content * {font-family: Arial, Helvetica, sans-serif;}
body.login {padding-top: 0px;}
.bg_9C27B0 {background-color: #9C27B0 !important;}
.bg_EC407A {background-color: #EC407A !important;}
.bg_35AC19 {background-color: #35AC19 !important;}
.bg_512DA8 {background-color: #512DA8 !important;}
.bg_5C6BC0 {background-color: #5C6BC0 !important;}
.bg_455A64 {background-color: #455A64 !important;}

.bg_7E57C2 {background-color: #7E57C2 !important;}
.bg_0151CC {background-color: #0151CC !important;}
.bg_00A4BE {background-color: #00A4BE !important;}
.bg_4A8BF6 {background-color: #4A8BF6 !important;}
.bg_FF0000 {background-color: #FF0000 !important;}
.bg_BF9000 {background-color: #BF9000 !important;}
.bg_85200C {background-color: #85200C !important;}
.bg_A4C2F4 {background-color: #A4C2F4 !important;}
.bg_666666 {background-color: #666666 !important;}

.bg_DFE1E6 {background-color: #DFE1E6 !important;}
.bg_8D8E8E {background-color: #8D8E8E !important;}


.fr-popup.fr-desktop.fr-active {z-index: 100000 !important;}
board-templates .k-resize-handle {z-index: 100;}
.position_relative {position: relative;}
h1 {font-size: 24px;}
h2 {font-size: 22px;}
h3 {font-size: 18px;}

.prop_status_line.prop_status {width: auto;height: auto;line-height: 100%;padding: 3px 4px;color: #fff;border-radius: 3px;}
.prop_status.sell {background-color: #4fd0ff;}
.prop_status.rent {background-color: #a97cfd;}

.m0px {margin: 0px;}
.mt5px {margin-top: 10px;}
.mt8px {margin-top: 8px;}
.pt8px {padding-top: 8px;}
.mt10px {margin-top: 10px;}
.mt15px {margin-top: 15px;}
.mt20px {margin-top: 20px;}
.width_auto {width: auto;}
.w150px {width:150px;}
.w200px {width:200px;}
.w250px {width:250px;}
.w100pr {width:100%;}
.p0px {padding: 0px;}
.pt2px {padding-top: 2px;}
.pt5px {padding-top: 5px;}
.pt10px {padding-top: 10px;}
.pt15px {padding-top: 15px;}
.pb15px {padding-bottom: 15px;}
.pt20px {padding-top: 20px;}
.pt25px {padding-top: 25px;}
.pt30px {padding-top: 30px;}
.clr {clear: both;}
.lightboxOverlay {z-index: 999999 !important;}
.lightbox {z-index: 1000000 !important;}
.k-file-image-wrapper:hover {cursor: zoom-in;}     
.mat-raised-button.mat-accent {background-color:#5cb85c;}
.main_left_menu .k-menu.k-menu-horizontal:not(.k-context-menu) {padding: 0 !important; background-color: transparent !important;}
.pointer_td, .poiner {cursor: pointer;}
.main_left_menu .k-menu.k-menu-horizontal:not(.k-context-menu) .k-item.k-menu-item,
.main_left_menu .k-menu.k-menu-horizontal:not(.k-context-menu) .k-item.k-menu-item .k-state-active
{color: #fff !important;}    

.k-grid .k-grid-aria-root, .k-grid-content { overflow-x: auto !important;}
.btn-purple {background-color: #a67feb; border-color: #a67feb; color: #fff;}
.btn.btn-xs.btn-prop-action {color: #fff;font-weight: 400;}
.grid-fav-item-icon-fill {color: #ff4081;}
.grid-fav-item-icon {font-size: 22px;cursor: pointer;}
.mat-checkbox-checked .mat-checkbox-background { background-color: darkcyan !important;}

.full_screen_mask {position: fixed; top:0; right:0; width:100%; height:100%; z-index: 999999;}
.full_screen_mask {width:100%; height:100%; background-color: rgba(255, 255, 255, 0.35)}
.full_screen_mask_img {position: absolute; top:0; right:0; width:100%; height:100%; z-index: 9999991;}
.full_screen_mask_img img {margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0;}
.main_left_menu .k-menu.k-menu-horizontal:not(.k-context-menu) {padding: 0 !important;}
.main-navigation.navbar {padding: 2px 10px;}
.nav>li {position: relative; display: block;}
.main-navigation .navbar-nav>li>a.active {background-color: #26292c;}
.main-navigation .navbar-nav>li>a {font-size: 18px;  color: #9d9d9d;position: relative; display: block;padding: 10px 15px; text-decoration: none;}
.main-navigation .navbar-nav>li>a.active, .main-navigation .navbar-nav>li>a:hover {color: #fff;}
.mat-icon {vertical-align: middle;}

.global_search_link_cell {width: 100%;}
.global_search_link_cell_act_1 mat-icon {color: #A67FEB;}
.global_search_link_cell_act_2 mat-icon {color: #5bc0de;}
   
#global-search .k-autocomplete {width: auto;border-radius: 3px;}
#global-search .k-autocomplete input.k-input {width: 250px; background-color: #fff; border-radius: 3px;} 
#global-search input:-moz-placeholder {
    color: #26292c;
    opacity: 1;
}
#global-search input::-moz-placeholder {
    color: #26292c;
    opacity: 1;
}
#global-search input:hover {
    background-color: #c2c8cd;
    opacity: 0.65;
}
#global-search input:focus {
    background-color: #fff;
    opacity: 1;
}
#global-search input:focus ~ span.icon-globalsearch::before {
    color: #b1b2b3;
}
#global-search input:focus:-moz-placeholder {
    color: #b1b2b3;
}
#global-search input:focus::-moz-placeholder {
    color: #b1b2b3;
}
#global-search #search-spinner {
    display: none;
}
#global-search.active {
    background-color: #f3f5f6;
    transition: background-color 0.15s ease-out 0s;
}
#global-search.active input {
    background-color: #fff;
    box-shadow: 0 0 0 1px #c2c8cd;
    opacity: 1;
}
#global-search.active span.icon-globalsearch::before {
    color: #b1b2b3;
} 
#global-search span.icon-globalsearch i {font-size: 20px; font-weight: bold;}
#global-search span.icon-globalsearch::before {
    font-size: 24px;
    height: 24px;
}
.activity_dialog_title_copy.k-icon.k-i-copy {display: none; vertical-align: inherit;}
.activity_dialog_title:hover .activity_dialog_title_copy.k-icon.k-i-copy {display: inline; cursor: pointer;}
.cdk-overlay-container {z-index: 99999;}
.k-notification-group {z-index: 99999;}

.relative_label {position: relative; padding-bottom: 12px;}
.relative_label label {margin-bottom: 2px; height: 22px;}
.required_field {color: #d9534f;font-size: 18px;}
.message_action_button .mat-mini-fab .mat-button-wrapper {padding: 0 !important;}


.card-header.bg-light.board-header {
    height: 77px;

    .row.justify-content-between.align-items-center {
        padding: 0 4px;
    }
}

a.see_item_link_cell {display: block;}
a.see_item_link_cell:hover {text-decoration: underline;}

.col2_main_hide_view {display: none!important;}

.action_btn {width:  auto!important; height: 28px;min-width: auto!important;line-height: 28px!important; padding: 0 8px!important;}
.action_btn .material-icons {font-size: 16px;}
.see_item_link_cell_div, a.see_item_link_cell_div {cursor: pointer;}
.see_item_link_cell_div:hover, a.see_item_link_cell_div:hover {text-decoration: underline;}
.btn.btn-xs.btn-prop-action {color: #fff;font-weight: 400;padding: 4px 7px !important;font-size: 16px;}


.warn_row {color: red;}
.k-button.k-state-active::after {display: none !important}
button:focus {outline: none !important}

.activity_topic_remove:hover {background-color: #F1F2F7;}
.activity_topic_mask {position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 99;  text-align: center; background-color: rgba(255,255,255,0.7);
    img {margin-top: 20px;}
}  

.priority_button_group.k-button-group  {  
    .k-button {   
        font-size: 14px;
        padding: 6px 10px;

        &.k-state-active {
            color: #fff;
            &.priority_button_group_btn_F16767 {background-color: #F16767;}
            &.priority_button_group_btn_50B87F {background-color: #50B87F;}
            &.priority_button_group_btn_36A9E1 {background-color: #36A9E1;}
            &.priority_button_group_btn_F19E2A {background-color: #F19E2A;}
            &.priority_button_group_btn_4BADE8 {background-color: #4BADE8;}
            &.priority_button_group_btn_E5493A {background-color: #E5493A;}
            &.priority_button_group_btn_9759E4 {background-color: #9759E4;}            
        }
    }
}

.priority_color_F16767 {background-color: #F16767;}
.priority_color_50B87F {background-color: #50B87F;}
.priority_color_36A9E1 {background-color: #36A9E1;}
.priority_color_F19E2A {background-color: #F19E2A;}


.equal > [class*='col-'] {
    display: flex;
    flex-direction: column;
  } 

  .board_settings_wrap {min-height: 160px; overflow: hidden; display: block;overflow-y: auto; max-height: calc(100vh - 135px);}
  .activity_topic_title_icon {font-size: 16px; vertical-align: middle;}
  .activity_topic_title {font-size: 16px; cursor: pointer;-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */}


.dialog_form_content .k-radio:checked+.k-radio-label {background-color: #e7e7e7;}
.dialog_form_content .k-radio-label:before {display: none;}
.dialog_form_content .k-radio-label:after {display: none;}
.dialog_form_content .k-radio::before {display: none;}
.dialog_form_content .k-radio::after {display: none;}
.dialog_form_content input[type=radio] {display: none;}


.thumbtack_message_box_item .message_action_button.message_thumbtack .k-icon {
    -webkit-transform: rotate(33deg);
    transform: rotate(33deg);
   /* color: #01C875;*/
}

.thumbtack_message_box_item .message_action_buttons_list .message_action_button.message_thumbtack .mat-mini-fab {background-color:#01C875 }
.message_box_item_mask {z-index: 9999; position: absolute; height: 100%; width: 100%; top:0; }
.message_box_item_mask_bg {height: 100%; width: 100%; background-color: rgba(255, 255, 255, 0.5)}
.message_box_item_mask_img {position: absolute; z-index: 10000; text-align: center; height: 100%; width: 100%; top: 10px;}

.tox.tox-silver-sink.tox-tinymce-aux, 
.tox.tox-tinymce.tox-tinymce-inline.tox-toolbar-dock-transition
{z-index: 99999999;}
/*.tox-statusbar__branding {display: none !important;}*/

.mat-raised-button.mat-success {background-color: #74C374;color: #fff;}

@media (max-width: 1240px){
    .main-navigation .navbar-nav > li > a {font-size: 16px;}
    #global-search .k-autocomplete input.k-input {width: 180px;}
}

@media (max-width: 1100px){
    .main-navigation .navbar-nav > li > a {font-size: 14px;}
}

@media (max-width: 1100px){
    .main-navigation .navbar-nav > li > a {font-size: 14px;}
    #global-search .k-autocomplete input.k-input {width: 150px;}
}

@media (max-width: 1024px){
    .main-navigation .navbar-nav > li > a > span {display: none;}
}

@media (max-width: 980px) {
    .page_control_panel.page_control_panel_status_filters_stats {border-top: 1px solid #808080; border-bottom: 1px solid #808080; padding: 6px 0px; margin-top: 10px;}
    .property_customer_status_buttons {padding: 0 6px !important; min-width: 62px !important;}
}

a.see_item_link_cell {font-weight: normal;}    
.k-tabstrip .k-item {background-color: #E9EAF3  !important;}
.k-tabstrip .k-item span {padding: 5px 7px !important; font-size: 15px; color: #333 !important;}
.k-tabstrip .k-item.k-state-active {background-color: #FFF !important}
.k-tabstrip-top > .k-tabstrip-items .k-item.k-state-active {border-color: #FFF;}
.k-tabstrip > .k-tabstrip-items .k-item {padding: 2px 3px;}

.message_box_item_mask {z-index: 9999; position: absolute; height: 100%; width: 100%; top:0; right:0; }
.message_box_item_mask_bg {height: 100%; width: 100%; background-color: rgba(255, 255, 255, 0.3)}
.message_box_item_mask_img {position: absolute; z-index: 10000; text-align: center; width: 100%; top: 10px;}
.mat-button.mat-raised-button.mat-button-base.mat-warn.k-button.k-grid-remove-command {background-color: red !important;}

.tribute-container {z-index:99999;border-radius:5px;border:1px solid #c7cdd5;}
.tribute-container ul {list-style: none;padding: 0;margin:0;color: #212529;}
.tribute-container ul li {padding: 3px 10px;background:#e4e7eb;}
.tribute-container ul li:hover, .tribute-container ul li.highlight {color:#36A9E1; border-color: #c7cdd5;background-color: #ced3db;}
.fr-tribute {color:rgb(27, 149, 224);}
.fro-rtl {text-align: right;direction:rtl;}
.fro-ltr {text-align: left;direction:ltr;}
activity-form .add_comment_control {min-height:262px;}

.board_activity_control_menu .k-button span.k-icon {width: 100%;}

.board_activity_control_menu .k-button {padding: 0px!important; width: 26px; height: 20px;}
.board_activity_control_menu_popup ul li {font-size: 14px !important;}