﻿<!--<div class="card-header bg-light">
    <div class="row justify-content-between align-items-center">
        <div class="col-sm-auto">
            <h1 class="mb-1 mb-md-0">Dashboard</h1>
        </div>
    </div>
</div> -->
<br />
<div class="container-fluid">  
  <div class="row no-gutters">
      <div class="col-lg-7 pr-lg-2">
          <div *ngIf="show_meetings_and_talks" class="card mb-3">
              <div class="card-header bg-light">
                  <div class="row justify-content-between align-items-center">
                      <div class="col-sm-auto">
                          <h4 class="mb-1 mb-md-0">Meetings and talks</h4>
                      </div>
                      <div class="col-sm-auto fs--1">                   
                      </div>
                  </div>
              </div>
              <activity-grid [types]="'2,3'" [mode]="'widget'" [status_list]="status_list"></activity-grid>
          </div>

          <div class="card mb-3">
              <div class="card-header bg-light">
                  <div class="row justify-content-between align-items-center">
                      <div class="col-sm-auto">
                          <h4 class="mb-1 mb-md-0">{{'GENERAL.TASKS' | translate}}</h4>
                      </div>
                      <div class="col-sm-auto fs--1">
                     <!--     <button (click)="onButtonActivityClick('loadTasks','1')"  mat-raised-button color="accent"><i class="material-icons">add</i><span>Add Activity</span></button> -->
                      </div>
                  </div>
              </div>
              <activity-grid [types]="'1'" [mode]="'widget'" [status_list]="status_list"></activity-grid>
          </div>
      </div>
      <!-- <div class="col-lg-5 pl-lg-5">
        <div class="card mb-3">
            <div class="card-header bg-light" style="min-height: 61px;">
                <div class="row justify-content-between align-items-center">
                    <div class="col-sm-auto">
                        <h4 class="mb-1 mb-md-0">Messaging and business intelligence</h4>
                    </div>                    
                </div>
            </div>
            <div class="pr-3 pl-3 pt-3">
                
            </div>
        </div>
      </div> -->
  </div>
</div>


