<div class="container-fluid">
    <div class="pt-3 pb-2 pl-1">
        <h1>{{'GENERAL.SPRINTS' | translate}}</h1>
    </div>    
    <div class="row pt-2">
        <div class="col-sm-auto">
            <input class="form-control" type="text" style="min-width:270px;" [value]="selected_filter['searchTerm']" #sprintsFilterSearchTerm name="searchTerm" [placeholder]="search_placeholder" />
        </div>         
        <div *ngIf="customers_list && customers_list.length" class="col-md-2">
            <kendo-combobox
            [data]="customers_list"
            [placeholder]="'Customer'"
            [value]="selected_filter['CustomerId']"
            textField="name"
            valueField="id"
            [valuePrimitive]="true"
            (valueChange)="changeCustomer($event)"          
            style="width:100%;"             
            >
          </kendo-combobox>          
        </div> 
        <div class="col-auto ml-auto fs--1">
            <button (click)="onButtonAddSprintClick()"  mat-raised-button color="accent"><i class="material-icons">add</i><span>Sprint</span></button>
        </div>          
    </div> 
</div>
<div class="pt-4">
    <div class="container-fluid">
        <sprints-grid *ngIf="sprints_loaded" 
            (emitState)="stateGrid($event)" 
            (emitAction)="gridAction($event)" 
            [searchTerm]="selected_filter.searchTerm" 
            [CustomerId]="selected_filter.CustomerId" 
            [reloadGrid]="reloadGrid"
            [def_take]="def_take" 
            [def_skip]="def_skip"  
            [def_sort]="def_sort">
        </sprints-grid>
    </div>
</div>
