<mat-progress-bar [style.visibility]="loadingIndicator?'visible':'hidden'" [color]="'primary'" [mode]="'query'"></mat-progress-bar>
<kendo-grid
        [selectable]="false"
        [data]="view | async"
        [loading]="view['loading']"
        [pageSize]="state.take"
          [skip]="state.skip"
          [sort]="state.sort"
          [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }"
          [pageable]="{
            pageSizes: take_list
          }"
          [scrollable]="'none'"
           (dataStateChange)="dataStateChange($event)">
           <kendo-grid-messages noRecords="{{'GENERAL.GRID_NO_RECORDS' | translate}}" pagerItemsPerPage="{{'GENERAL.GRID_PAGER_ITEMS_PER_PAGE' | translate}}" pagerOf="{{'GENERAL.GRID_PAGER_OF' | translate}}" pagerItems="{{'GENERAL.GRID_PAGER_ITEMS' | translate}}"></kendo-grid-messages>
            
          <kendo-grid-column field="id" title="#" width="80">
                <ng-template kendoGridCellTemplate let-view let-rowIndex="rowIndex">
                    <a *ngIf="controller=='release/table'" [routerLink]="['/releases/', view.id]" class="see_item_link_cell">{{view.id}}</a>
                    <span *ngIf="controller=='sprint/table'">{{view.id}}</span>
                </ng-template>              
          </kendo-grid-column>                       
          <kendo-grid-column class="property_complete_name " field="title" width="120" title="Title">
            <ng-template kendoGridCellTemplate let-view let-rowIndex="rowIndex">
              <a *ngIf="controller=='release/table'" [routerLink]="['/releases/', view.id]" class="see_item_link_cell">{{view.title}}</a>
              <span *ngIf="controller=='sprint/table'">{{view.title}}</span>
          </ng-template>             
          </kendo-grid-column>
          <kendo-grid-column *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 90" class="property_complete_name " field="customer" [sortable]="false" width="120" title="Cusmoter">
            <ng-template kendoGridCellTemplate let-view let-rowIndex="rowIndex">
                <a  [routerLink]="['/customers/', view.cust_id]" class="see_item_link_cell">{{view.customer}}</a>
            </ng-template>               
          </kendo-grid-column>
          <kendo-grid-column field="tasks" [sortable]="false" width="100" title="Tasks"></kendo-grid-column> 
          <kendo-grid-column field="duration" [sortable]="false" width="100" title="Duration"></kendo-grid-column> 
          <kendo-grid-column field="created" width="100" title="Created"></kendo-grid-column>     
          <kendo-grid-command-column title="Action" width="100" >
            <ng-template kendoGridCellTemplate let-rowIndex="rowIndex" let-dataItem>                
                <button (click)="editSprint(dataItem)" mat-icon-button><mat-icon>edit</mat-icon></button>
                <button *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 90" (click)="deleteSprint(dataItem)" mat-icon-button color="warn"><mat-icon>delete_forever</mat-icon></button>
            </ng-template>
          </kendo-grid-command-column>                
</kendo-grid>