<div class="row pt-2">
    <div class="col-sm-auto">
        <input class="form-control" type="text" style="min-width:270px;" [value]="searchTerm" #membersFilterSearchTerm name="searchTerm" [placeholder]="search_placeholder" />
    </div>         
    <div *ngIf="statusList && statusList.length" class="col-md-2">
        <kendo-combobox
        [data]="statusList"
        [placeholder]="'Status'"
        [value]="status"
        textField="name"
        valueField="id"
        [valuePrimitive]="true"
        (valueChange)="changeStatus($event)"          
        style="width:100%;"             
        >
      </kendo-combobox>          
    </div>    
    <div class="col-auto ml-auto fs--1">
        <button (click)="onButtonAddMemberClick()"  mat-raised-button color="accent"><i class="material-icons">add</i><span>Member</span></button>
    </div>          
</div> 
<mat-progress-bar [style.visibility]="loadingIndicator?'visible':'hidden'" [color]="'primary'" [mode]="'query'"></mat-progress-bar>
<kendo-grid
        [selectable]="false"
        [data]="view | async"
        [loading]="view['loading']"
        [pageSize]="state.take"
          [skip]="state.skip"
          [sort]="state.sort"
          [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }"
          [pageable]="{
            pageSizes: take_list
          }"
          [scrollable]="'none'"
           (dataStateChange)="dataStateChange($event)">
           <kendo-grid-messages noRecords="{{'GENERAL.GRID_NO_RECORDS' | translate}}" pagerItemsPerPage="{{'GENERAL.GRID_PAGER_ITEMS_PER_PAGE' | translate}}" pagerOf="{{'GENERAL.GRID_PAGER_OF' | translate}}" pagerItems="{{'GENERAL.GRID_PAGER_ITEMS' | translate}}"></kendo-grid-messages>
            
          <kendo-grid-column field="id" title="#" width="80"></kendo-grid-column>   
          <kendo-grid-column field="active" width="100" title="Status"></kendo-grid-column>
          <kendo-grid-column field="type" width="100" title="Member type"></kendo-grid-column>                     
          <kendo-grid-column field="color" width="80" title="Color" [sortable]="false">
            <ng-template kendoGridCellTemplate let-view let-rowIndex="rowIndex">
              <div><span class="member_color" [style.backgroundColor]="'#' + view.color"></span> {{ view.color }}</div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column class="property_complete_name " field="fullName" width="120" title="FullName"></kendo-grid-column>
          <kendo-grid-column field="phone" width="100" title="Phone"></kendo-grid-column> 
          <kendo-grid-column field="email" width="100" title="Email"></kendo-grid-column> 
          <kendo-grid-column field="created" width="100" title="Created"></kendo-grid-column>     
          <kendo-grid-command-column title="Action" width="100" >
            <ng-template kendoGridCellTemplate let-rowIndex="rowIndex" let-dataItem>                
                <button (click)="editMember(dataItem)" mat-icon-button><mat-icon>edit</mat-icon></button>
                <button (click)="memberPassword(dataItem)" mat-icon-button><mat-icon>lock</mat-icon></button>
                <button *ngIf="globalDataService.current_user && globalDataService.current_user.type >= 90" (click)="deleteMember(dataItem)" mat-icon-button color="warn"><mat-icon>delete_forever</mat-icon></button>
            </ng-template>
          </kendo-grid-command-column>                
</kendo-grid>