.form-group {margin-bottom: 0.5rem;}
.k-label {margin-bottom: 0;}
.error.k-label {color: red; bottom: -15px; right: 8px; font-size: 12px; line-height: 1.1; position: absolute;}
.k-checkbox {margin-right: 5px;}
.drop_color_rect {width: 20px; height: 20px; margin-right: 6px;}
.dialog_form_content.dialog_form_content_min160 {min-height: 160px;}