<mat-progress-bar [style.visibility]="loadingIndicator?'visible':'hidden'" [color]="'primary'" [mode]="'query'"></mat-progress-bar>
<kendo-grid
        #customerGridInstance="kendoGrid"
        [selectable]="false"
        [data]="view | async"
        [loading]="view['loading']"
        [pageSize]="state.take"
          [skip]="state.skip"
          [sort]="state.sort"
          [sortable]="{
            allowUnsort: true,
            mode: 'single'
            }"
          [pageable]="{
            pageSizes: take_list
          }"
          [scrollable]="'none'"
           (dataStateChange)="dataStateChange($event)">
           <kendo-grid-messages noRecords="{{'GENERAL.GRID_NO_RECORDS' | translate}}" pagerItemsPerPage="{{'GENERAL.GRID_PAGER_ITEMS_PER_PAGE' | translate}}" pagerOf="{{'GENERAL.GRID_PAGER_OF' | translate}}" pagerItems="{{'GENERAL.GRID_PAGER_ITEMS' | translate}}"></kendo-grid-messages>
          <kendo-grid-column [hidden]="view_mode=='dialog'"  field="fav" width="50">
            <ng-template kendoGridHeaderTemplate>
                <i class='grid-fav-item-icon material-icons' [hidden]="isFavSorting()" style="pointer-events: none;">star_border</i>
                <i class='grid-fav-item-icon grid-fav-item-icon-fill material-icons' [hidden]="!isFavSorting()" style="pointer-events: none;">star</i>                    
            </ng-template>
            <ng-template kendoGridCellTemplate let-view let-rowIndex="rowIndex">
                <i *ngIf="!view.fav" class="grid-fav-item-icon material-icons" (click)="favToggle(view.id)">star_border</i>
                <i *ngIf="view.fav" class="grid-fav-item-icon grid-fav-item-icon-fill material-icons" (click)="favToggle(view.id)">star</i>   
            </ng-template>
        </kendo-grid-column>          
          <kendo-grid-column field="id" title="#" width="80">
                <ng-template kendoGridCellTemplate let-view let-rowIndex="rowIndex">
                    <a  [routerLink]="['/customers/', view.id]" class="see_item_link_cell">{{view.id}}</a>
                </ng-template>              
          </kendo-grid-column>                       
          <kendo-grid-column class="property_complete_name " field="company" width="100" title="{{'CUSTOMER.COMPANY' | translate}}">
            <ng-template kendoGridCellTemplate let-view let-rowIndex="rowIndex">
              <a  [routerLink]="['/customers/', view.id]" class="see_item_link_cell">{{view.company}}</a>
          </ng-template>             
          </kendo-grid-column>
          <kendo-grid-column class="property_complete_name " field="full_name" width="100" title="{{'CUSTOMER.CONTACT' | translate}}">
            <ng-template kendoGridCellTemplate let-view let-rowIndex="rowIndex">
                <a  [routerLink]="['/customers/', view.id]" class="see_item_link_cell">{{view.full_name}}</a>
            </ng-template>               
          </kendo-grid-column>
          <kendo-grid-column field="phone" width="98" title="{{'CUSTOMER.PHONE' | translate}}"></kendo-grid-column>
          <kendo-grid-column field="phone2" width="98" title="{{'CUSTOMER.PHONE_2' | translate}}"></kendo-grid-column>
          <kendo-grid-column field="main_status" width="100" title="{{'CUSTOMER.STATUS' | translate}}"></kendo-grid-column>
          <kendo-grid-column field="modified" width="100" title="{{'CUSTOMER.LAST_UPDATE' | translate}}"></kendo-grid-column>          
</kendo-grid>