<div class="container-fluid pt-4">
    <div class="form_view">
        <div class="back" (click) = "_location.back()">{{'GENERAL.BACK' | translate}} <i class="fa fa-angle-left" aria-hidden="true"></i></div>
        <kendo-tabstrip #kendoTabStripInstanceCustomerEdit="kendoTabStrip" (tabSelect)="onEditCustomerTabSelect($event)">
        <kendo-tabstrip-tab title="{{'CUSTOMER.DETAILS' | translate}}" [selected]="true">
            <ng-template kendoTabContent>
                <div class="pt-4 pb-4">
                    <new-customer-form [cust_id]="customer_id" [grid_col]="3"></new-customer-form>
                </div>
            </ng-template>
        </kendo-tabstrip-tab>
            
        </kendo-tabstrip>
    </div>
</div>