<div *ngIf='!customerItemLoaded' style="text-align:center; padding:40px 0;"><img  src="assets/images/pipe_loader.gif" /></div>
<div *ngIf='customerItemLoaded' class="container-fluid">
    <div class="row pt-3">
        <div class="col-md-6 col-xs-12">

            <div class="float-left pl-3">
                <h2>{{ customerModel.company }} - {{ customerModel.full_name }}</h2>
                <h3>{{ customerModel.phone }} {{ customerModel.phone2 }}</h3>               
            </div>  
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="float-right">                			
                <item-navigation *showItDevice="['desktop', 'tablet']" [items]="globalDataService.grid_cust_ids" [moduleName]="'customers'" [currentItem]="customer_id"></item-navigation>
            </div>
        </div>
    </div>

    <div class="row pt-4 pb-4">
        <div class="col-md-{{main_container_col1}} col-xs-12 position-relative">
            <div class="fixed_left_control" *showItDevice="['desktop']">
                <button (click)="toEditCustomer()" class="min_width_auto" mat-raised-button color="primary"><i class="material-icons">create</i></button>
            </div>
            <kendo-tabstrip class="inner_page_tab_control" #kendoTabStripInstance="kendoTabStrip" (tabSelect)="onMainTabSelect($event)">
                <kendo-tabstrip-tab [selected]="true">
                    <ng-template kendoTabTitle>
                        <i class="fa fa-file-text-o" *isMobile></i>
                        <span *showItDevice="['desktop', 'tablet']">{{'CUSTOMER.DETAILS' | translate}}</span>
                    </ng-template>
                    <ng-template kendoTabContent>
                    
                        <div class="row pt-4 pb-4">
                            <div class="col-md-6 col-xs-12" *isDesktop>
                                    <div class="properties_desc_title">
                                        <i class="material-icons" style="font-size: 23px; vertical-align: text-bottom; color: #000;">people</i>
                                        <span>
                                        {{'CUSTOMER.CUSTOMER_DETAILS' | translate}}
                                        </span>

                                        <div class="float_right">
                                            <!--<span style="font-weight: bold; font-size: 20px;">סטטוס</span>-->
                                            <select (change)='updateMainStatus($event)' class="form-control" style="display:inline-block; width: 160px;padding:6px;height:34px;">
                                                <option *ngFor="let mainStatus of mainStatusList" [value]="mainStatus.id" [selected]="mainStatus.id == customerModel['main_status']">{{mainStatus.name}}</option>
                                            </select>	                         
                                        </div>                                        
                                    </div>
                                    <div *ngFor="let item of customerModel['col1']" class="properties_desc_line">
                                        <div class="row">
                                            <div class="col-sm-6 col-xs-12">
                                            <div class="properties_desc_line_label">{{item['label']}}</div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                            <div class="properties_desc_line_content">{{item['value']}}</div>
                                            </div>
                                        </div>
                                    </div>                                                                                                                                                                                                                                                                                                                     
                                </div>
                                                     
                        </div>

                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab title="{{'CUSTOMER.MEMBERS' | translate}}">
                    <ng-template kendoTabContent>
                        <div class="pt-2 ">
                            <members-grid
                                [CustomerId]="customer_id"
                            >
                            </members-grid>
                        </div>
                    </ng-template>
                </kendo-tabstrip-tab>                          
                                  
            </kendo-tabstrip>
        </div>
        <div class="col-md-4 col-xs-12 {{main_container_col2}}">
            <note [moduleName]="noteName" [moduleId]="customer_id"></note>
        </div>        
    </div>
</div>