<div *ngIf="view_mode!='dialog'" class="container-fluid">
    <div class="row pt-3">
        <div class="col-md-6 col-xs-12">
            <div class="float_left">
                <button (click)="addCustomerDialog()" mat-raised-button color="accent"><i class="material-icons">add</i><span> {{'CUSTOMER.ADD_CUSTOMER' | translate}}</span></button>
            </div>    
        </div>
        <div class="col-md-6 col-xs-12">

        </div>
    </div>
</div>
<div *ngIf="!customers_loaded" class="message_box_item_mask">
    <div class="message_box_item_mask_bg"></div>
    <div class="message_box_item_mask_img" style="top: 100px;"><img src="assets/images/pipe_loader_.gif" alt="mask" /></div>
</div>
<div class="container-fluid">
    <div class="row pt-3 pb-2">
        <div class="col-sm-auto">
            <input class="form-control" type="text" style="min-width:270px;" [value]="selected_filter['searchTerm']" #customersFilterSearchTerm name="searchTerm" [placeholder]="search_placeholder" />
        </div>                                  
    </div>
</div>
<div class="pt-4">
    <div class="container-fluid">
        <customer-grid *ngIf="customers_loaded" 
            (emitState)="stateGrid($event)" 
            [searchTerm]="selected_filter.searchTerm" 
            [def_take]="def_take" 
            [def_skip]="def_skip"  
            [def_sort]="def_sort"                 
            [view_mode]="view_mode">
        </customer-grid>
    </div>
</div>